// ------------------------------------------------------------
//   Page - Flavours of the season
//-------------------------------------------------------------
&.flavours-season {

	.main-title {
		margin:0 auto;

		/*
		background:url('#{$imgPath}/titles/flavours-season-en.png') no-repeat top center;
		background-size:100% auto;
				
		@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			background-image:url('#{$imgPath}/titles/flavours-season-en@x2.png');
		}
		*/

		svg {
			width:190px;
			height:103px;

			@include breakpoint(tablet) {
				width:349px;
				height:189px;
			}
		}

		&.fr {
			
			/*
			background-image:url('#{$imgPath}/titles/flavours-season-fr.png');
					
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/titles/flavours-season-fr@x2.png');
			}
			*/

			svg {
				width:190px;
				height:120px;

				@include breakpoint(tablet) {
					width:349px;
					height:220px;
				}
			}
		}

		&.animate-svg {
			path {
				@include animation-duration(1s);
				@include animation-fill-mode(both);
			}

			.group-1,
			.group-2,
			.group-3,
			.group-4 {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.group-1 {
				path {
					@include animation-delay(0.2s);
				}
			}

			.group-2 {
				path {
					@include animation-delay(0.4s);
				}
			}

			.group-3 {
				path {
					@include animation-delay(0.6s);
				}
			}

			.group-4 {
				path {
					@include animation-delay(0.8s);
				}
			}
			
			.coffee {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.coffee {
				path {
					@include animation-delay(1s);
				}
			}
		}
	}

	.wrapper-content {
		max-width:1160px;
		padding:{
			bottom:40px;
		}

		> p {
			max-width:700px;
			margin:18px auto 35px;
			@include rem-fallback(font-size, 1.4);
			line-height:1.4em;
			font-family:$font_secondary;
			@include animation-delay(1.2s);

			@include breakpoint(tablet) {
				@include rem-fallback(font-size, 1.8);
				line-height:1.6em;
				margin-bottom:30px;
			}

			@include breakpoint(desktop) {
				@include rem-fallback(font-size, 2);
			}

			&.under-title {
				@include animation-delay(2.2s);
			}
		}

		h3.suggestions-title {
			position:relative;
			display:inline-block;
			vertical-align: top;
			min-height:31px;
			text-transform:uppercase;
			@include rem-fallback(font-size, 2.2);
			line-height:1.2em;
			letter-spacing:2px;
			font-family:$font_default_medium;
			@include animation-delay(2s);

			@include breakpoint(tablet) {
				@include rem-fallback(font-size, 3.6);
				letter-spacing:2.6px;
			}

			@include breakpoint(desktop) {
				@include rem-fallback(font-size, 4);
				letter-spacing:3px;

				&:before,
				&:after {
					content:"";
					position:absolute;
					top:0;
					bottom:0;
				}

				&:before {
					left:-46px;
					width:28px;
					height:100%;
					background:url('#{$imgPath}/icon-flake-white-1.png') no-repeat center center;
					background-size:28px 27px;
			
					@media (-webkit-min-device-pixel-ratio: 2), 
					(min-resolution: 192dpi) { 
						background-image:url('#{$imgPath}/titles/icon-flake-white-1@x2.png');
					}
				}

				&:after {
					right:-54px;
					width:28px;
					height:100%;
					background:url('#{$imgPath}/icon-flake-white-2.png') no-repeat center center;
					background-size:28px 31px;
			
					@media (-webkit-min-device-pixel-ratio: 2), 
					(min-resolution: 192dpi) { 
						background-image:url('#{$imgPath}/titles/icon-flake-white-2@x2.png');
					}
				}
			}			
		}
	}

	// ------------------------------------------------------------
	//   Featured
	//-------------------------------------------------------------
	.wrapper-featured {
		margin:{
			bottom:40px;
		}

		@include breakpoint(tablet) {
			margin:{
				bottom:80px;
			}
		}		

		ul {
			margin:0;
			padding:0;
			list-style:none;

			@include breakpoint(tablet) {
				max-width:870px;
				margin:0 auto;
			}

			li {
				position:relative;
				margin:{
					top:25px;
				}
				padding:40px 20px 30px;
				text-align:center;
				background:$color_white;
				@include animation-delay(1.6s);

				&:first-child {
					@include animation-delay(1.4s);
				}

				@include breakpoint(tablet) {
					display:inline-block;
					vertical-align: top;
					width:47.5%;
					margin:{
						top:29px;
						right:-3px;
						left:4.5%;
					}
					padding:{
						top:70px;
						bottom:45px;
					}

					&:first-child {
						margin:{
							left:0;
						}
					}
				}

				&:before {
					position:absolute;
					top:-29px;
					left:0;
					right:0;
					content:"";
					display:block;
					width:100%;
					height:64px;
					background:url('#{$imgPath}/icon-ribbon-red.png') no-repeat top center;
					background-size:auto 100%;
							
					@media (-webkit-min-device-pixel-ratio: 2), 
					(min-resolution: 192dpi) { 
						background-image:url('#{$imgPath}/icon-ribbon-red@x2.png');
					}

					@include breakpoint(mobile) {
						top:-18px;
						height:42px;
					}
				}

				&:after {
					content:"";
					position:absolute;
					top:8px;
					bottom:8px;
					left:8px;
					right:8px;
					border:2px solid $color_primary;
				}

				* {
					position:relative;
					z-index:2;
				}

				img {
					width:100%;
					max-width:318px;
					height:auto;
					margin:0 auto;

					&:hover,
					&:active {
						cursor:pointer;
					}
				}

				h3, h4 {
					margin:10px 0 8px;
					color:$color_black;
					font-family:$font_default_medium;
					text-transform:uppercase;
					@include animation-delay(1.8s);
				}

				p {
					margin:0;
					color:$color_black;
					font-family:$font_default_medium;
					@include rem-fallback(font-size, 1.4);
					line-height:1.4em;

					a {
						color:$color_primary;
						font-family:$font_default_bold;

						&:focus,
						&:hover,
						&:active {
							color:darken($color_primary, 10);
						}
					}

					&.desc {
						@include breakpoint(mobile) {
							margin:{
								bottom:15px;
							}
						}

						@include breakpoint(tablet) {
							min-height:135px;
							padding:0 20px;

							&.fr {
								min-height:170px;
							}
						}

						@include breakpoint(desktop) {
							min-height:120px;

							&.fr {
								min-height:140px;
							}
						}
					}

					&.buy {
						margin:0 0 20px;

						a {
						 	color:$color_white;

						 	&:focus,
							&:hover,
							&:active {
								color:$color_white;
							}
						 }
					}

					&.read-recipe {
						@include rem-fallback(font-size, 1.5);
						letter-spacing:0.6px;

						a {
						 	font-family:$font_default_medium;
							text-decoration:underline;
						 }
					}
				}

				.btn {
					min-width:164px;
				}
			}
		}
	}

	// ------------------------------------------------------------
	//   Suggestions
	//-------------------------------------------------------------
	.wrapper-suggestions {
		position:relative;
		padding:30px;
		background:$color_white;
		@include animation-delay(2.4s);

		&:after {
			content:"";
			position:absolute;
			top:10px;
			bottom:10px;
			left:10px;
			right:10px;
			z-index:1;
			border:3px solid $color_primary;
		}

		ul {
			position:relative;
			z-index:2;
			margin:0;
			padding:0;

			@include breakpoint(mobile) {
				padding:10px 0;
			}

			li {
				margin:{
					top:35px;
				}

				@include breakpoint(mobile) {
					&:first-child {
						margin:{
							top:0;
						}
					}
				}

				@include breakpoint(tablet) {
					display:inline-block;
					vertical-align: top;
					width:33%;
					margin:20px -3px 20px 0;
					text-align:center;

					&:nth-child(3n+1) {
						margin:{
							left:0;
						}
					}
				}

				@include breakpoint(desktop) {
					width:20%;
					margin:20px -3px 20px 0;

					&:nth-child(4n+1) {
						margin:{
							left:0;
						}
					}
				}

				.wrapper-img {
					margin:{
						bottom:5px;
					}

					@include breakpoint(tablet) {
						@include clearfix;
						min-height:173px;
					}
				}

				.wrapper-text {
					@include breakpoint(tablet) {
						@include clearfix;
						min-height:67px;
					}

					@include breakpoint(desktop) {
						min-height:70px;
					}
				}

				img {
					display:block;
					//width:100%;
					//max-width:172px;
					height:auto;
					margin:0 auto;

					&:hover,
					&:active {
						cursor:pointer;
					}
				}

				h3, h4 {
					margin:0 0 5px;
					color:$color_black;
					font-weight:700;
					@include rem-fallback(font-size, 1.6);
					text-transform:uppercase;
				}

				p {
					margin:0 0 10px;
					color:$color_black;
					@include rem-fallback(font-size, 1.4);

					@include breakpoint(tablet) {
						margin:0;
					}
				}

				a {
					min-width:110px;
					padding:{
						top:8px;
						bottom:8px;
					}
				}
			}
		}
	}
}


