// ------------------------------------------------------------
//   Page - Gift Guide
//-------------------------------------------------------------
&.gift-guide {

	.main-title {
		margin:0 auto;
		/*
		background:url('#{$imgPath}/titles/gift-guide-en.png') no-repeat top center;
		background-size:100% auto;
				
		@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			background-image:url('#{$imgPath}/titles/gift-guide-en@x2.png');
		}
*/
		svg {
			width:190px;
			height:123px;

			@include breakpoint(tablet) {
				width:279px;
				height:180px;
			}
		}

		&.fr {
			
			/*
			background-image:url('#{$imgPath}/titles/gift-guide-fr.png');
					
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/titles/gift-guide-fr@x2.png');
			}*/

			svg {
				width:190px;
				height:109px;
				
				@include breakpoint(tablet) {
					width:279px;
					height:160px;
				}
			}
		}

		&.animate-svg {
			path {
				@include animation-duration(1s);
				@include animation-fill-mode(both);
			}

			.group-1,
			.group-2 {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.group-1 {
				path {
					@include animation-delay(0.2s);
				}
			}

			.group-2 {
				path {
					@include animation-delay(0.4s);
				}
			}
			
			.gift {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.gift {
				path {
					@include animation-delay(0.6s);
				}
			}
		}
	}

	// ------------------------------------------------------------
	//   Listing categories
	//-------------------------------------------------------------
	.categories {
		position:relative;
		z-index:2;
		padding:{
			bottom:40px;
		}

		p {
			max-width:700px;
			margin:12px auto 40px;
			@include rem-fallback(font-size, 1.4);
			line-height:1.4em;
			font-family:$font_secondary;
			@include animation-delay(1.2s);

			@include breakpoint(tablet) {
				margin:{
					bottom:50px;
				}
				@include rem-fallback(font-size, 1.8);
				line-height:1.6em;
			}

			@include breakpoint(desktop) {
				margin:{
					bottom:30px;
				}
				@include rem-fallback(font-size, 2);
			}
		}

		ul {
			margin:0;
			padding:0;
			list-style:none;

			li {
				position:relative;
				padding:30px 10px;
				background:$color_white;

				@include breakpoint(mobile) {
					max-width:320px;
					margin:25px auto 0;
				}

				@include breakpoint(tablet) {
					display:inline-block;
					vertical-align: bottom;
					margin:{
						right:-3px;
						left:2%;
					}
					padding:{
						bottom:40px;
					}
				}

				@include breakpoint(desktop) {
					margin:{
						left:6%;
					}
				}

				&:before {
					position:absolute;
					left:0;
					right:0;
					z-index:3;
					content:"";
					display:block;
					width:100%;
				}

				&:after {
					content:"";
					position:absolute;
					top:5px;
					bottom:5px;
					left:5px;
					right:5px;
					z-index:1;
					border:2px solid $color_primary;
				}

				&.category-50-or-less {
					@include animation-delay(1.2s);

					@include breakpoint(tablet) {
						width:29%;
						margin:{
							left:0;
						}
						padding:{
							top:70px;
						}
					}

					@include breakpoint(desktop) {
						width:24%;
						margin:{
							left:6%;
						}
					}

					&:before {
						top:-45px;
						height:50px;
						background:url('#{$imgPath}/icon-ribbon-50-or-less.png') no-repeat top center;
						background-size:auto 100%;
								
						@media (-webkit-min-device-pixel-ratio: 2), 
						(min-resolution: 192dpi) { 
							background-image:url('#{$imgPath}/icon-ribbon-50-or-less@x2.png');
						}

						@include breakpoint(mobile) {
							top:-18px;
							height:24px;
						}
					}
				}

				&.category-50-to-150 {
					@include animation-delay(1.4s);

					@include breakpoint(tablet) {
						width:33%;
						padding:{
							top:115px;
						}
					}

					@include breakpoint(desktop) {
						width:30%;
					}

					&:before {
						top:-44px;
						height:99px;
						background:url('#{$imgPath}/icon-ribbon-50-to-150.png') no-repeat top center;
						background-size:auto 100%;
								
						@media (-webkit-min-device-pixel-ratio: 2), 
						(min-resolution: 192dpi) { 
							background-image:url('#{$imgPath}/icon-ribbon-50-to-150@x2.png');
						}

						@include breakpoint(mobile) {
							top:-16px;
							height:40px;
						}
					}
				}

				&.category-150-and-more {
					@include animation-delay(1.6s);

					@include breakpoint(tablet) {
						width:32%;
						padding:{
							top:180px;
						}

						background-image:url('#{$imgPath}/icon-banner-gift-guide.png');
						background-repeat:no-repeat;
						background-position:top right;
						background-size:151px 178px;
								
						@media (-webkit-min-device-pixel-ratio: 2), 
						(min-resolution: 192dpi) { 
							background-image:url('#{$imgPath}/icon-banner-gift-guide@x2.png');
						}
					}

					@include breakpoint(desktop) {
						width:28%;
					}

					&:before {
						top:-51px;
						height:112px;
						background:url('#{$imgPath}/icon-ribbon-150-and-more.png') no-repeat top center;
						background-size:auto 100%;
								
						@media (-webkit-min-device-pixel-ratio: 2),
						(min-resolution: 192dpi) { 
							background-image:url('#{$imgPath}/icon-ribbon-150-and-more@x2.png');
						}

						@include breakpoint(mobile) {
							top:-16px;
							height:40px;
						}
					}
				}

				.wrapper-category {
					position:relative;
					z-index:2;
				}
			}
		}

		.category-title {
			margin:0px 0 15px;
			text-transform:uppercase;
			font-family:$font_default_medium;
			color:$color_black;
			letter-spacing:2.6px;
			@include rem-fallback(font-size, 1.8);
			line-height:1.2em;

			@include breakpoint(tablet) {
				margin:0 0 30px;
				letter-spacing:2px;
				@include rem-fallback(font-size, 2.2);
			}

			@include breakpoint(desktop) {
				margin:0 0 30px;
				letter-spacing:2.6px;
				@include rem-fallback(font-size, 2.6);
			}
		}

		.wrapper-url {
			text-align:center;

			a {
				font-family:$font_default_bold;
				@include rem-fallback(font-size, 1.2);
			}
		}

		img.category-img {

			@include breakpoint(tablet) {
				position:relative;
				z-index:1;
				width:134%;
				height:auto;
				margin:{
					left:-17%;
					bottom:-17%;
				}
			}
		}
	}


	// ------------------------------------------------------------
	//   Categories Detail
	//-------------------------------------------------------------
	.categories-items {
		position:absolute;
		top:210px;
		bottom:0;
		left:15px;
		right:15px;
		//height:100%;
		//max-height:95vh;
		z-index:1;

		&.fr {
			top:190px;
		}

		@include breakpoint(tablet) {
			top:284px;

			&.fr {
				top:270px;
			}
		}


		> div  {
			display:none;
			max-width:870px;
			margin:0 auto;
			padding:{
				bottom:40px;
			}
			color:$color_black;

			> h3 {
				margin:0;
				color:$color_white;
				line-height:1.2em;
				text-transform: uppercase;
				@include rem-fallback(font-size, 2.4);

				@include breakpoint(tablet) {
					margin: {
						bottom:30px;
					}
					@include rem-fallback(font-size, 3.6);
				}

				@include breakpoint(desktop) {
					@include rem-fallback(font-size, 4);
				}
			}
		}

		article {
			position:relative;
			margin:{
				top:20px;
			}
			padding:40px;
			background:$color_white;

			@include breakpoint(tablet) {
				margin:{
					top:38px;
				}
				padding:60px 30px 60px;
			}

			&:before {
				content:"";
				position:absolute;
				top:-30px;
				right:-28px;
				z-index:1;
				width:71px;
				height:76px;

				background:url('#{$imgPath}/icon-ribbon-detail-gift.png') no-repeat top center;
				background-size:auto 100%;
						
				@media (-webkit-min-device-pixel-ratio: 2), 
				(min-resolution: 192dpi) { 
					background-image:url('#{$imgPath}/icon-ribbon-detail-gift@x2.png');
				}

				@include breakpoint(mobile) {
					display:none;
				}

				@include breakpoint(tablet) {
					right:0;
				}

				@include breakpoint(desktop) {
					right:-28px;
				}
			}

			&:after {
				content:"";
				position:absolute;
				top:10px;
				bottom:10px;
				left:10px;
				right:10px;
				z-index:1;
				border:3px solid $color_primary;
			}

			.wrapper {
				overflow:hidden;
			}
		}

		ul {
			margin:0;
			padding:0;

			li {
				overflow:hidden;
				margin:{
					bottom:20px;
				}
			}
		}

		.wrapper-img {
			@include breakpoint(tablet) {
				float:left;
				width:40%;
				text-align:center;
			}

			img {
				position:relative;
				z-index:2;
				width:100%;
				height:auto;
				margin:0 auto;

				&:hover,
				&:active {
					cursor:pointer;
				}

				@include breakpoint(mobile) {
					margin:0 0 15px;
				}

				&.package-1 {
					max-width:341px;
				}

				&.package-2 {
					max-width:328px;
				}

				&.package-3 {
					max-width:278px;
				}

				&.package-4 {
					max-width:255px;
				}

				&.package-5 {
					max-width:355px;
				}

				&.package-6 {
					max-width:344px;
				}
			}
		}

		.content {
			position:relative;
			z-index:2;

			@include breakpoint(tablet) {
				margin:{
					left:45%;
				}
				text-align:left;
			}
		}

		p {
			margin:0;
			line-height:1.2em;

			&.price {
				margin:0;
				font-family:$font_default_bold;
				letter-spacing:1.4px;
				line-height:1.2em;
				@include rem-fallback(font-size, 1.8);

				@include breakpoint(tablet) {
					@include rem-fallback(font-size, 2);
				}

				.rebate {
					color:$color_primary;
					text-decoration: line-through;

					@include rem-fallback(font-size, 1.6);

					@include breakpoint(tablet) {
						@include rem-fallback(font-size, 1.8);
					}
				}
			}

			&.desc {
				margin:0 0 20px;
				font-family:$font_default_medium;
				letter-spacing:1.4px;
				@include rem-fallback(font-size, 1.4);

				@include breakpoint(tablet) {
					@include rem-fallback(font-size, 1.6);
				}
			}
		}

		
		h4 {
			margin:7px 0 10px;
			font-family:$font_default_medium;
			letter-spacing:1.4px;
			text-transform:uppercase;
			line-height:1.2em;
			@include rem-fallback(font-size, 2);

			@include breakpoint(tablet) {
				margin:{
					bottom:5px;
				}
				@include rem-fallback(font-size, 2.4);
			}

			@include breakpoint(desktop) {
				@include rem-fallback(font-size, 2.8);
			}
		}

		small {
			display:block;
			margin:{
				top:25px;
			}
			@include rem-fallback(font-size, 1);
			color:lighten($color_black, 55);
			line-height:1.3em;
		}

		ul.listing {
			margin:0 0 25px;
			padding:0;
			list-style:none;
			text-align:left;

			li {
				position:relative;
				margin:5px 0 0 0;
				padding:0 0 0 15px;
				@include rem-fallback(font-size, 1.4);
				line-height:1.4em;

				&:first-child {
					margin:{
						top:0;
					}
				}

				&:before {
					position:absolute;
					top:4px;
					left:0;
					width:11px;
					height:11px;
					content:"";
					background:url('#{$imgPath}/icon-flake-bullet.png') no-repeat top center;
					background-size:auto 100%;
							
					@media (-webkit-min-device-pixel-ratio: 2), 
					(min-resolution: 192dpi) { 
						background-image:url('#{$imgPath}/icon-flake-bullet@x2.png');
					}
				}
			}
		}

		a {
			text-align:center;
		}
	}
}



