// ------------------------------------------------------------
//   Page - Holiday Tips
//-------------------------------------------------------------
&.holidays-tips {

	.main-title {
		margin:0 auto;

		/*
		background:url('#{$imgPath}/titles/holiday-tips-en.png') no-repeat top center;
		background-size:100% auto;
				
		@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			background-image:url('#{$imgPath}/titles/holiday-tips-en@x2.png');
		}
		*/

		svg {
			width:190px;
			height:104px;

			@include breakpoint(tablet) {
				width:288px;
				height:157px;
			}
		}

		&.fr {
			/*
			background-image:url('#{$imgPath}/titles/holiday-tips-fr.png');
					
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/titles/holiday-tips-fr@x2.png');
			}*/

			svg {
				width:190px;
				height:103px;

				@include breakpoint(tablet) {
					width:288px;
					height:156px;
				}
			}
		}

		&.animate-svg {
			path {
				@include animation-duration(1s);
				@include animation-fill-mode(both);
			}

			.group-1,
			.group-2,
			.group-3 {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.group-1 {
				path {
					@include animation-delay(0.2s);
				}
			}

			.group-2 {
				path {
					@include animation-delay(0.4s);
				}
			}

			.group-3 {
				path {
					@include animation-delay(0.6s);
				}
			}
			
			.heart-1,
			.heart-2 {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.heart-1 {
				path {
					@include animation-delay(0.8s);
				}
			}

			.heart-2 {
				path {
					@include animation-delay(1s);
				}
			}
		}
	}


	// ------------------------------------------------------------
	//   Listing articles
	//-------------------------------------------------------------
	.articles {
		position:relative;
		z-index:2;
		padding:{
			bottom:40px;
		}
		color:$color_black;

		p {
			max-width:700px;
			margin:18px auto 25px;
			color:$color_white;
			@include rem-fallback(font-size, 1.6);
			line-height:1.6em;
			font-family:$font_secondary;
			@include animation-delay(1.2s);

			@include breakpoint(tablet) {
				margin:{
					bottom:35px;
				}
				@include rem-fallback(font-size, 1.8);
			}

			@include breakpoint(desktop) {
				@include rem-fallback(font-size, 2);
			}
		}

		ul {
			margin:0;
			padding:0;
			list-style:none;
			text-align:left;

			@include breakpoint(mobile) {
				max-width:282px;
				margin:0 auto;
			}

			li {
				position:relative;
				margin:{
					bottom:8px;
				}
				text-align:center;
				background:$color_white;

				@include breakpoint(tablet) {
					display:inline-block;
					vertical-align: top;
					width:32.6%;
					margin:0 -3px 8px 1%;

					&.no-margin {
						margin:{
							left:0;
						}
					}
				}

				@include breakpoint(desktop) {
					width:24%;
					margin:{
						left:1%;
						bottom:10px;
					}

					&.no-margin {
						margin:{
							left:1%;
						}
					}

					&:nth-child(4n+1) {
						margin:{
							left:0;
						}
					}
				}

				// Quick tips
				&.quick-tips {
					//height:352px;
					//padding:40px 20px 20px;
					padding:0 0 69px;

					&:after {
						content:"";
						position:absolute;
						top:8px;
						bottom:8px;
						left:8px;
						right:8px;
						z-index:1;
						border:2px solid $color_primary;
					}

					&.hide-tablet {
						@include breakpoint(tablet) {
							display:none;
						}

						@include breakpoint(desktop) {
							display:inline-block;
						}
					}

					* {
						position:relative;
						z-index:2;
					}

					.wrapper {
						position:absolute;
						top:0;
						bottom:0;
						left:0;
						right:0;
						z-index:3;
						width:100%;
						height:100%;
						padding:40px 20px 20px;
					}

					h3 {
						span {
							display:inline-block;
							vertical-align: top;
							font-family: $font_default_medium;
							letter-spacing:1px;
							text-transform: uppercase;
							@include rem-fallback(font-size, 1.6);
							line-height:1.2em;

							@include breakpoint(desktop) {
								@include rem-fallback(font-size, 1.8);
							}

							&:before,
							&:after {
								content:"";
								position:absolute;
								top:0;
								bottom:0;
							}

							&:before {
								left:-32px;
								width:15px;
								height:100%;
								background:url('#{$imgPath}/icon-flake-red-1.png') no-repeat center center;
								background-size:15px 15px;
						
								@media (-webkit-min-device-pixel-ratio: 2), 
								(min-resolution: 192dpi) { 
									background-image:url('#{$imgPath}/titles/icon-flake-red-1@x2.png');
								}
							}

							&:after {
								right:-32px;
								width:14px;
								height:100%;
								background:url('#{$imgPath}/icon-flake-red-2.png') no-repeat center center;
								background-size:14px 14px;
						
								@media (-webkit-min-device-pixel-ratio: 2), 
								(min-resolution: 192dpi) { 
									background-image:url('#{$imgPath}/titles/icon-flake-red-2@x2.png');
								}
							}
						}

						&.fr {
							span {
								letter-spacing:1px;

								&:before {
									left:-20px;
								}

								&:after {
									right:-20px;
								}
							}
						}				
					}

					.wrapper-img {
						position:absolute;
						left:0;
						right:0;
						bottom:33%;
						height:150px;
						line-height:150px;

						img {
							display:inline-block;
							vertical-align: middle;
							margin:0 auto;
						}
					}

					img.placeholder {
						width:100%;
						height:auto;
					}

					p {
						position:absolute;
						bottom:16px;
						left:0;
						right:0;
						height:80px;
						margin:0;
						padding:0 20px;
						color:$color_black;
						font-family:$font_default_medium;
						letter-spacing:0.6px;
						@include rem-fallback(font-size, 1.4);
						line-height:1.3em;

						@include breakpoint(tablet) {
							@include rem-fallback(font-size, 1.3);
						}

						@include breakpoint(desktop) {
							@include rem-fallback(font-size, 1.4);
						}

						a {
							color:$color_primary;

							&:focus,
							&:hover,
							&:active {
								color:darken($color_primary, 5);
							}
						}
					}
				}

				// Article
				&.article {

					img {
						display:block;
						width:100%;
						height:auto;
					}

					p {
						display:inline-block;
						vertical-align: middle;
						width:100%;
						height:72px;
						margin:0;
						padding:0 10px;

						color:$color_white;
						font-family: $font_default_medium;
						letter-spacing:1.6px;
						text-transform: uppercase;
						line-height:72px;
						@include rem-fallback(font-size, 1.3);
						background:$color_primary;

						@include breakpoint(desktop) {
							@include rem-fallback(font-size, 1.5);
						}

						span {
							display:inline-block;
							vertical-align: middle;
							line-height:1.3em;
						}
					}

					a {
						display:block;

						&:focus,
						&:hover,
						&:active {
							p {
								background:darken($color_primary, 5);
							}
						}
					}
				}

				&.anim-01 {
					@include animation-delay(1.6s);
				}

				&.anim-02 {
					@include animation-delay(1.7s);
				}

				&.anim-03 {
					@include animation-delay(1.8s);
				}

				&.anim-04 {
					@include animation-delay(1.9s);
				}

				&.anim-05 {
					@include animation-delay(2.0s);
				}

				&.anim-06 {
					@include animation-delay(2.1s);
				}

				&.anim-07 {
					@include animation-delay(2.2s);
				}

				&.anim-08 {
					@include animation-delay(2.3s);
				}

				&.anim-09 {
					@include animation-delay(2.4s);
				}

				&.anim-10 {
					@include animation-delay(2.5s);
				}

				&.anim-11 {
					@include animation-delay(2.6s);
				}

				&.anim-12 {
					@include animation-delay(2.7s);
				}

				&.anim-13 {
					@include animation-delay(2.8s);
				}

				&.anim-14 {
					@include animation-delay(2.9s);
				}

				&.anim-15 {
					@include animation-delay(3s);
				}
			}
		}
	}

	// ------------------------------------------------------------
	//   Articles details
	//-------------------------------------------------------------
	.articles-items {
		position:absolute;
		top:190px;
		bottom:0;
		left:15px;
		right:15px;
		//height:100%;
		//max-height:95vh;
		z-index:1;

		@include breakpoint(tablet) {
			top:265px;
		}

		article {
			display:none;
			margin:0 auto;
			padding:{
				bottom:40px;
			}

			@include breakpoint(tablet) {
				max-width:867px;
			}

			img {
				display:block;
				width:100%;
				height:auto;
			}

			.wrapper-text {
				overflow:hidden;
				padding:20px 20px 0;
				color:$color_black;
				text-align:left;
				background:$color_white;

				@include breakpoint(tablet) {
					padding:30px 30px 0;
				}

				@include breakpoint(desktop) {
					padding:40px 50px 0;
				}

				h2 {
					margin:0 0 20px;
					text-transform:uppercase;
					line-height:1.2em;
					letter-spacing:2px;
					font-family:$font_default_medium;
					@include rem-fallback(font-size, 2.2);

					@include breakpoint(tablet) {
						@include rem-fallback(font-size, 2.8);
					}

					@include breakpoint(desktop) {
						@include rem-fallback(font-size, 3.2);
					}
				}

				h3 {
					margin:15px 0 10px;
					text-transform:uppercase;
					line-height:1.2em;
					letter-spacing:2px;
					font-family:$font_default_bold;
					@include rem-fallback(font-size, 1.6);

					@include breakpoint(tablet) {
						@include rem-fallback(font-size, 1.8);
					}
				}

				h4 {
					margin:20px 0;
					color:#828282;
					line-height:1.2em;
					letter-spacing:1.4px;
					text-transform:uppercase;
					font-family:$font_default_medium;
					font-style: italic;
					@include rem-fallback(font-size, 1.4);
				}

				a {
					color:$color_primary;

					&:focus,
					&:hover,
					&:active {
						color:darken($color_primary, 5);
					}
				}

				p {
					line-height:1.4em;
					letter-spacing:1px;
					@include rem-fallback(font-size, 1.2);

					@include breakpoint(tablet) {
						@include rem-fallback(font-size, 1.4);
					}

					&.intro {
						line-height:1.4em;
						letter-spacing:1.4px;
						font-family:$font_default_medium;
						@include rem-fallback(font-size, 1.4);

						@include breakpoint(tablet) {
							@include rem-fallback(font-size, 1.6);
						}

						@include breakpoint(desktop) {
							@include rem-fallback(font-size, 1.8);
						}
					}

					&.italic {
						margin:20px 0;
						color:#828282;
						line-height:1.2em;
						letter-spacing:1.4px;
						text-transform:uppercase;
						font-family:$font_default_medium;
						font-style: italic;
						@include rem-fallback(font-size, 1.4);
					}
				}

				ul, ol {
					font-family:$font_default_medium;
					letter-spacing:0.6px;
					@include rem-fallback(font-size, 1.4);
					line-height:1.4em;

					strong {
						font-family:$font_default_bold;
					}
				}

				ul {
					margin:0 0 25px;
					padding:0;
					list-style:none;

					li {
						position:relative;
						margin:{
							top:2px;
						}
						padding:0 0 0 10px;
						
						&:before {
							position:absolute;
							top:0;
							left:0;
							content:"-";
						}

						&:first-child {
							margin:0;
						}
					}
				}

				ol {
					margin:0;
					padding:0;
					list-style:none;

					li {
						margin:{
							top:6px;
						}

						&:first-child {
							margin:0;
						}
					}
				}
			}

		}
	}
}

