
// ------------------------------------------------------------
//   Page Home
//-------------------------------------------------------------
.home {
	@include breakpoint(mobile) {
		height:100%;
	}

	@include breakpoint(tablet) {
		min-height:100%;
	}

	@include breakpoint(desktop) {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		//z-index:100;
		overflow-y:scroll;
	}
}


// Welcome
.welcome {
	position:relative;
	@include transition(all 1s cubic-bezier(0.7, 0, 0.3, 1));
	
	&.faster {
		@include transition(all 0.4s ease);
	}

	@include breakpoint(mobile) {
		z-index:2;
	}

	@include breakpoint(tablet) {
		position:absolute;
		top:0;
		left:50%;
		//right:0;
		transform: translate(-50%, 0);
		padding:0;
		z-index:2;
	}

	h1 {
		@include opacity(0);
		width:167px;
		height:33px;
	}

	h2 {
		margin:5px auto 15px;
		text-align:center;

		@include breakpoint(tablet) {
			margin:15px auto 25px;
		}

		svg {
			overflow:visible;
			//width:290px;
			//height:155px;
			@include opacity(0);

			width:290px;
			height:155px;

			@include breakpoint(desktop) {
				width:325px;
				height:169px;
			}
		}
	}

	p {
		margin:0;
		color:$color_white;
		font-family:$font_default;
		font-style:italic;
		text-align:center;
		line-height:1.4em;
		letter-spacing:1.2px;
		@include rem-fallback(font-size, 1.4);

		@include breakpoint(tablet) {
			@include rem-fallback(font-size, 1.6);
		}

		@include breakpoint(desktop) {
			@include rem-fallback(font-size, 1.8);
		}

		&.hide {
			@include opacity(0);
			@include animation-duration(1.4s);
			@include animation-name(fadeOut);
			//@include animation-delay(0.2s);
		}
	}

	.loading {
		position:absolute;
		bottom:95px;
		right:0;
		left:0;
		display:block;
		margin:0 auto;
		color:$color_white;
		font-family:$font_default_medium;
		text-align:center;
		line-height:1.4em;
		@include rem-fallback(font-size, 1.4);

		@include animation-duration(1s);
		@include animation-fill-mode(both);
		@include animation-name(loading);
		@include animation-delay(0);
		animation-iteration-count:infinite;
	}

	&.animate {

		h1 {
			display:block;
			@include animation-duration(2s);
			@include animation-fill-mode(both);
			@include animation-name(bounceInTitle);
			@include animation-delay(1.4s);
		}

		h2 {
			display:block;
		}

		svg {
			@include opacity(1);

			path {
				
			}

			// Letter
			.group-1,
			.group-2,
			.group-3 {
				path {
					@include animation-duration(2s);
					@include animation-fill-mode(both);
					@include animation-name(bounceInTitle);
				}
			}

			.group-1 {
				path {
					@include animation-delay(0.2s);
				}
			}

			.group-2 {
				path {
					@include animation-delay(0.4s);
				}
			}

			.group-3 {
				path {
					@include animation-delay(0.6s);
				}
			}

			.left-branch,
			.right-branch {
				@include animation-duration(2s);
				@include animation-fill-mode(both);
				@include animation-name(bounceInTitle);
				@include animation-delay(1.4s);
			}
		}
	}

	/*
	h2 {
		display:block;
		width:191px;
		height:112px;
		margin:0 auto;
		color:$color_white;
		@include hidetext;
		@include transition(all 1s ease);

		background:url('#{$imgPath}/titles/holiday-planner-en.png') no-repeat top center;
		background-size:100% auto;
				
		@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			background-image:url('#{$imgPath}/titles/holiday-planner-en@x2.png');
		}

		@include breakpoint(tablet) {
			width:220px;
			height:129px;
		}

		@include breakpoint(desktop) {
			width:297px;
			height:174px;
		}

		&.fr {
			width:191px;
			height:99px;
			margin-top:10px;
			background:url('#{$imgPath}/titles/holiday-planner-fr.png') no-repeat top center;
			background-size:100% auto;
					
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/titles/holiday-planner-fr@x2.png');
			}

			@include breakpoint(tablet) {
				width:220px;
				height:114px;
			}

			@include breakpoint(desktop) {
				width:297px;
				height:154px;
			}
		}
	}
*/
}


.introduction-active {
	.welcome {
		@include breakpoint(mobile) {
			margin-top:40%;
		}

		@include breakpoint(mobile-landscape) {
			margin-top:0;
		}

		@include breakpoint(tablet) {
			top:25%;
			//transform: translate(-50%, -50%);
		}
	}

	.points-listing {
		visibility:hidden;
		@include opacity(0);
	}
	
	.site-footer {
		height:0;
		@include opacity(0);
	}
}


// Background resize
.background {

	@include breakpoint(mobile) {
		position:relative;
		z-index:2;
		width:auto !important;
	}

	@include breakpoint(tablet) {
		position:fixed; // fixed
		z-index:1;
		top:0;
		left:0;
		//width:100%;
		//height:100%;
		overflow:hidden;
		//display:table;
		@include transition(all 1s ease);
		
		.visual-element {
			position:absolute;
			z-index:2;
			display:block;
			@include opacity(0);

			&.party-planner {
				top:37.58%;
				left:55.95%;
				width:35%;
				height:100%;
				background:url('#{$imgPath}/home/table.png') no-repeat top center;
				background-size:100% auto;
			}

			&.gift-guide {
				top:42.7%;
				left:21.68%;
				width:39.5%;
				height:100%;
				background:url('#{$imgPath}/home/gift.png') no-repeat top center;
				background-size:100% auto;
			}

			&.flavours-season {
				top:63%;
				left:10%;
				width:21.6%;
				height:100%;
				background:url('#{$imgPath}/home/cookie.png') no-repeat top center;
				background-size:100% auto;
			}

			&.holidays-tips {
				top:0;
				left:59.5%;
				width:36.7%;
				height:100%;
				background:url('#{$imgPath}/home/stars.png') no-repeat top center;
				background-size:100% auto;
			}

		}
	}

	@include breakpoint(tablet-portrait) {
		.visual-element {
			display:none;
		}
	}

	img {
		display:none;

		@include breakpoint(tablet) {
			position:relative;
			display:block;
			//min-width:100%;
			height:auto;

			&.blur-img {
				position:fixed;
				top:0;
				bottom:0;
				left:0;
				right:0;
				z-index:2;
			}
		}
	}

	&.blured {
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);

		.points-listing {
			@include opacity(0);
		}
	}
}

.cssfilters {
	.blur-img {
		display:none;
	}
}


// List of pages
.points-listing {
	margin:-30px 0 0;
	padding:0;
	@include transition(all 0.8s ease);

	@include breakpoint(tablet) {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:0;
		width:100%;
		height:100%;
		z-index:999;
	}

	li {
		color:$color_white;
		@include rem-fallback(font-size, 1.5);
		line-height:1.2em;
		text-transform:uppercase;
		font-family:$font_default_bold;
		letter-spacing:0.6px;
		text-align:center;
		list-style:none;

		@include breakpoint(mobile) {
			display:block;
			width:100%;
			margin:{
				top:15px;
			}

			&:first-child {
				margin:{
					top:0;
				}
			}
			
			a {
				display:block;
				padding:15px;
				border:2px solid $color_white;
				@include alpha-background-color(rgba($color_black, 0.3), $color_white);
			}

			p {
				margin:0;
			}
		}

		a {
			color:$color_white;
		}

		&:focus,
		&:hover,
		&:active {
			cursor:pointer;

			@include breakpoint(mobile) {
				@include box-shadow(rgba($color_white, 0.5) 0 0 10px 2px);
			}

			&:after {
				@include box-shadow(rgba($color_white, 0.8) 0 0 20px 4px);
			}
		}

		@include breakpoint(tablet) {
			position:absolute;
			z-index:4;
			@include opacity(1);

			&:after {
				position:relative;
				z-index:1;
				content:"";
				display:block;
				width:12px;
				height:12px;
				margin:0 auto;
				background:$color_white;
				transform: translate(-50%, 0);
				@include border-radius(100%);
				@include transition(all 0.2s ease);
				@include box-shadow(rgba($color_white, 0.5) 0 0 4px 0);
			}

			&:focus,
			&:hover,
			&:active {
				p {
					@include transition(all 0.4s ease-in-out);
					transform:scale(1.15);
				}
			}

			a {
				display:block;
				position:absolute;
				bottom:-15px;
				left:0;
				right:0;
				z-index:2;
				width:160px;
				height:80px;
				transform: translate(-50%, 0);
			}

			p  {
				position:absolute;
				bottom:36px;
				left:0;
				right:0;
				margin:0;
				@include rem-fallback(font-size, 1.8);
				line-height:1.2em;
				letter-spacing:1px;
				text-align:center;
				@include text-shadow(0 0 5px rgba(255,255,255,0.8));
			}

			&.holidays-tips {
				top:29.2%;
				left:76.5%;
				@include animation-delay(1.4s);
			}

			&.party-planner {
				top:53%;
				left:66%;
				@include animation-delay(1s);
			}

			&.gift-guide {
				top:61%;
				left:36%;
				@include animation-delay(0.6s);
			}

			&.flavours-season {
				top:75%;
				left:28%;
				@include animation-delay(0.4s);
			}

		}

		@include breakpoint(tablet-portrait) {
			&.holidays-tips {
				top:34%;
				left:34%;
			}

			&.party-planner {
				top:47%;
				left:20%;
			}
		}

		@media (min-width: 1024px) and (max-width: 1124px) {
			&.holidays-tips {
				top:27%;
				left:72%;
			}
		}
	}

	@include breakpoint(tablet) {
		&.animate {
			li {
				p {
					@include animation-duration(1s);
					@include animation-fill-mode(both);
					@include animation-name(fadeInZoom);
				}

				&:after {
					@include animation-duration(1s);
					@include animation-fill-mode(both);
					@include animation-name(fadeIn);
				}

				&.flavours-season {
					p {
						@include animation-delay(0.4s);
					}

					&:after {
						@include animation-delay(1.1s);
					}
				}

				&.gift-guide {
					p {
						@include animation-delay(1.2s);
					}

					&:after {
						@include animation-delay(1.9s);
					}
				}

				&.party-planner {
					p {
						@include animation-delay(2.0s);
					}

					&:after {
						@include animation-delay(2.5s);
					}
				}

				&.holidays-tips {
					p {
						@include animation-delay(2.8s);
					}

					&:after {
						@include animation-delay(3.3s);
					}
				}
			}
		}

		&.wave-animate {
			li {

				p {
					@include animation-duration(1s);
					@include animation-name(homeTitlewave);
				}

				&:after {
					@include animation-duration(1s);
					@include animation-name(homeDotwave);
				}

				&.flavours-season {
					p {
						@include animation-delay(0s);
					}

					&:after {
						@include animation-delay(0s);
					}
				}

				&.gift-guide {
					p {
						@include animation-delay(0.6s);
					}

					&:after {
						@include animation-delay(0.6s);
					}
				}

				&.party-planner {
					p {
						@include animation-delay(1.4s);
					}

					&:after {
						@include animation-delay(1.4s);
					}
				}

				&.holidays-tips {
					p {
						@include animation-delay(2.0s);
					}

					&:after {
						@include animation-delay(2.0s);
					}
				}
			}
		}
	}
}


// ------------------------------------------------------------
//   Footer
//-------------------------------------------------------------
.site-footer {
	position:relative;
	z-index:2;
	height:auto;
	@include opacity(1);
	@include transition(all 1.0s ease);

	@include breakpoint(mobile) {
		margin: {
			top:15px;
		}
	}

	@include breakpoint(tablet) {
		position:absolute;
		bottom:15px;
		left:20px;
		right:20px;
		height:1px;
		text-align:right;
	}

	a {
		display:inline-block;
		vertical-align: middle;
		padding:9px;
		line-height:1.2em;
		@include rem-fallback(font-size, 1.3);
		letter-spacing:0.6px;
		color:$color_white;

		&.bordered {
			border:1px solid $color_white;
			@include alpha-background-color(rgba($color_black, 0.3), $color_white);

			&:focus,
			&:hover,
			&:active {
				@include box-shadow(rgba($color_white, 0.5) 0 0 10px 2px);
			}
		}

		&.facebook {
			padding:{
				left:42px;
			}
			@include alpha-background-color(rgba($color_black, 0.3), $color_white);

			background-image:url('#{$imgPath}/icon-facebook-footer.png');
			background-repeat:no-repeat;
			background-position:12px center;
			background-size:9px 17px;
					
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/icon-facebook-footer@x2.png');
			}
		}
	}

	ul {
		margin:0;
		padding:0;

		@include breakpoint(mobile) {
			text-align:center;
		}

		li {
			display:inline-block;
			vertical-align: middle;

			@include breakpoint(tablet) {
				margin:{
					top:-57px;
				}
			}

			&.share-button {
				@include breakpoint(tablet) {
					position:absolute;
					bottom:0;
					left:0;
					margin:0;
				}
			}
		}
	}
}
