// ------------------------------------------------------------
//   Page - Party Planner
//-------------------------------------------------------------
&.party-planner {
	text-align:center;

	.main-title {
		margin:0 auto;

		/*
		background:url('#{$imgPath}/titles/party-planner-en.png') no-repeat top center;
		background-size:100% auto;
				
		@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			background-image:url('#{$imgPath}/titles/party-planner-en@x2.png');
		}
		*/

		svg {
			width:190px;
			height:113px;

			@include breakpoint(tablet) {
				width:294px;
				height:175px;
			}
		}

		&.fr {
			/*
			background-image:url('#{$imgPath}/titles/party-planner-fr.png');
					
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/titles/party-planner-fr@x2.png');
			}
			*/

			svg {
				width:190px;
				height:115px;

				@include breakpoint(tablet) {
					width:294px;
					height:178px;
				}
			}
		}

		&.animate-svg {
			path {
				@include animation-duration(1s);
				@include animation-fill-mode(both);
			}

			.group-1,
			.group-2,
			.group-3 {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.group-1 {
				path {
					@include animation-delay(0.2s);
				}
			}

			.group-2 {
				path {
					@include animation-delay(0.4s);
				}
			}

			.group-3 {
				path {
					@include animation-delay(0.6s);
				}
			}
			
			.cake,
			.stars {
				path {
					@include animation-name(bounceInTitle);
				}
			}

			.cake {
				path {
					@include animation-delay(0.8s);
				}
			}

			.stars {
				path {
					@include animation-delay(1s);
				}
			}
		}
	}

	> p {
		max-width:700px;
		margin:12px auto 40px;
		@include rem-fallback(font-size, 1.4);
		line-height:1.4em;
		font-family:$font_secondary;
		@include animation-delay(1.2s);

		@include breakpoint(tablet) {
			margin:{
				bottom:30px;
			}
			@include rem-fallback(font-size, 1.8);
			line-height:1.6em;
		}

		@include breakpoint(desktop) {
			@include rem-fallback(font-size, 2);
		}
	}

	h3.flakes-title {
		position:relative;
		display:inline-block;
		vertical-align: top;
		padding:0 40px;
		color:$color_black;
		font-family:$font_default_medium;
		text-transform:uppercase;
		@include animation-delay(2.0s);

		@include breakpoint(tablet) {
			margin:{
				bottom:30px;
			}
			@include rem-fallback(font-size, 1.8);
			line-height:1.6em;
		}

		@include breakpoint(desktop) {
			@include rem-fallback(font-size, 2);
		}

		&:before,
		&:after {
			content:"";
			position:absolute;
			top:0;
			bottom:0;
		}

		&:before {
			left:0;
			width:15px;
			height:100%;
			background:url('#{$imgPath}/icon-flake-red-1.png') no-repeat center center;
			background-size:15px 15px;
	
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/icon-flake-red-1@x2.png');
			}
		}

		&:after {
			right:0;
			width:14px;
			height:100%;
			background:url('#{$imgPath}/icon-flake-red-2.png') no-repeat center center;
			background-size:14px 14px;
	
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/icon-flake-red-2@x2.png');
			}
		}
	}

	// Questions
	.wrapper-questions {
		position:relative;
		background:$color_white;
		max-width:1026px;
		margin:0 auto 20px;
		padding:20px;
		@include animation-delay(2.0s);

		@include breakpoint(tablet) {
			margin:{
				bottom:40px;
			}
			padding:40px 40px 30px;
		}

		@include breakpoint(desktop) {
			padding:80px 80px 50px;
		}

		&:after {
			content:"";
			position:absolute;
			top:5px;
			bottom:5px;
			left:5px;
			right:5px;
			z-index:1;
			border:2px solid $color_primary;
		}

		ul {
			margin:0;
			padding:0;
			list-style:none;

			li {

				@include breakpoint(tablet) {
					display:inline-block;
					vertical-align: top;
					width:30%;
					margin:{
						right:-3px;
						left:5%;
					}

					&:first-child {
						margin:{
							left:0;
						}
					}
				}

				@include breakpoint(desktop) {
					width:28%;
					margin:{
						left:8%;
					}
				}

				&.first {
					@include animation-delay(2.2s);
				}

				&.second {
					@include animation-delay(2.4s);
				}

				&.third {
					@include animation-delay(2.6s);
				}
				
				img {
					display:block;
					width:60%;
					height:auto;
					max-width:244px;
					margin:20px auto 0;

					@include breakpoint(tablet) {
						width:100%;
						margin:{
							top:0;
						}
					}
				}
			}
		}

		// Form
		form {
			position:relative;
			z-index:2;

			fieldset {
				margin:30px 0 0;
				padding:0;
				border:none;

				@include breakpoint(tablet) {
					margin:{
						top:40px;
					}
				}

				@include breakpoint(desktop) {
					margin:{
						top:60px;
					}
				}

				&.event {
					margin:{
						top:0;
					}
				}
			}

			label {
				display:block;
				color:$color_black;
				font-family:$font_default_medium;

				&.active {
					img {
						border-color:$color_primary;

						+ p {
							color:$color_primary;
							background:none;
						}
					}

					p {
						color:$color_white;
						border-color:$color_primary;
						background:$color_primary;
					}
				}

				&:hover,
				&:active {
					cursor:pointer;
				}
			}

			input[type="radio"] {
				position:absolute;
				visibility:hidden;
				z-index:-1;
			}

			input[type="submit"] {
				display:inline-block;
				vertical-align: top;
				width:100%;
				padding:20px 0;
				color:$color_white;
				@include rem-fallback(font-size, 1.4);
				text-transform:uppercase;
				font-family:$font_default_bold;
				letter-spacing:1.2px;
				background:$color_primary;
				border:none;

				@include breakpoint(tablet) {
					width:auto;
					@include rem-fallback(font-size, 1.6);
					padding:{
						left:60px;
						right:60px;
					}
				}

				&:focus,
				&:hover,
				&:active {
					background:darken($color_primary, 5);
				}
			}
		}

		.guest,
		.mood,
		.wrapper-submit {
			display:none;
		}

		.event,
		.mood {
			p {
				margin:15px 0 0;
				@include rem-fallback(font-size, 1.4);
				letter-spacing:0.8px;
				@include transition(all 0.4s ease);
			}

			img {
				display:block;
				@include border-radius(100%);
				border:3px solid $color_white;
				@include transition(all 0.4s ease);
			}

			label {

				&:focus,
				&:hover,
				&:active,
				&.active {
					img {
						border-color:$color_primary;
					}

					p {
						color:$color_primary;
					}
				}
			}
		}

		.guest {
			ul {
				li {
					@include breakpoint(mobile) {
						margin:{
							top:15px;
						}
					}
				}
			}

			p {
				display:inline-block;
				vertical-align: top;
				margin:0;
				min-width:120px;
				padding:15px 0;
				line-height:1.2em;
				@include rem-fallback(font-size, 1.8);
				color:$color_primary;
				letter-spacing:1.2px;
				border:2px solid $color_primary;
				@include transition(all 0.4s ease);

				@include breakpoint(tablet) {
					@include rem-fallback(font-size, 2.2);
				}
			}

			label {

				&:focus,
				&:hover,
				&:active,
				&.active {
					p {
						color:$color_white;
						border-color:$color_primary;
						background:$color_primary;
					}
				}
			}
		}
	}

	 // Submit
	.wrapper-submit {
		margin:{
			top:20px;
		}
		padding:{
			top:20px;
		}
		border-top:1px solid #d7d7d7;

		@include breakpoint(tablet) {
			margin:{
				top:30px;
			}
			padding:{
				top:30px;
			}
		}

		@include breakpoint(desktop) {
			margin:{
				top:40px;
			}
			padding:{
				top:40px;
			}
		}

		span {
			display:block;
			width:100%;
			
			@include breakpoint(tablet) {
				position:relative;
				display:inline-block;
				vertical-align: top;
				width:auto;
				padding:65px 102px 46px 104px;
			}

			&:before,
			&:after {
				content:"";
				position:absolute;
				top:0;

				@include breakpoint(mobile) {
					display:none;
				}

			}

			&:before {
				left:0;
				width:81px;
				height:161px;
				background:url('#{$imgPath}/icon-left-stars.png') no-repeat left center;
				background-size:100% auto;
		
				@media (-webkit-min-device-pixel-ratio: 2), 
				(min-resolution: 192dpi) { 
					background-image:url('#{$imgPath}/icon-left-stars@x2.png');
				}
			}

			&:after {
				right:0;
				width:117px;
				height:162px;
				background:url('#{$imgPath}/icon-right-stars.png') no-repeat right center;
				background-size:100% auto;
		
				@media (-webkit-min-device-pixel-ratio: 2), 
				(min-resolution: 192dpi) { 
					background-image:url('#{$imgPath}/icon-right-stars@x2.png');
				}
			}
		}
	}

	// Wrapper results
	.wrapper-result {
		display:none;
		position:absolute;
		top:325px;
		bottom:0;
		left:15px;
		right:15px;
		z-index:1;
		
		@include breakpoint(tablet) {
			top:379px;
		}

		@include breakpoint(desktop) {
			top:389px;
		}

		.wrapper {
			position:relative;
			max-width:1026px;
			margin:0 auto 20px;
			padding:20px;
			color:$color_black;
			background:$color_white;

			@include breakpoint(tablet) {
				margin:{
					bottom:40px;
				}
				padding:40px 40px 30px;
			}
			
			@include breakpoint(tablet) {
				padding:50px 70px;
			}

			&:after {
				content:"";
				position:absolute;
				top:5px;
				bottom:5px;
				left:5px;
				right:5px;
				z-index:1;
				border:2px solid $color_primary;
			}
		}

		h3.flakes-title {
			position:relative;
			z-index:2;
			margin:30px 0 0;

			@include breakpoint(tablet) {
				margin:{
					top:40px;
				}
			}

			@include breakpoint(desktop) {
				margin:{
					top:60px;
				}
			}
		}

		.introduction {
			padding:{
				top:35px;
			}
			text-align:left;

			background:url('#{$imgPath}/icon-top-decoration.png') no-repeat top left;
			background-size:103px 15px;
	
			@media (-webkit-min-device-pixel-ratio: 2), 
			(min-resolution: 192dpi) { 
				background-image:url('#{$imgPath}/icon-top-decoration@x2.png');
			}

			@include breakpoint(tablet) {
				margin:{
					top:40px;
				}
				padding:{
					right:65px;
				}
			}

			h2 {
				margin:0 0 10px;
				color:$color_primary;
				@include rem-fallback(font-size, 1.6);
				font-family:$font_default_bold;
				text-transform:uppercase;

				@include breakpoint(tablet) {
					@include rem-fallback(font-size, 1.8);
				}

				@include breakpoint(desktop) {
					@include rem-fallback(font-size, 1.9);
				}
			}

			p {
				margin:0;
				color:$color_primary;
				@include rem-fallback(font-size, 1.5);
				line-height:1.4em;
				font-family:$font_default_medium;

				@include breakpoint(tablet) {
					@include rem-fallback(font-size, 1.7);
					line-height:1.5em;
				}
			}
		}

		.buy {
			a {
				padding:{
					top:8px;
					bottom:8px;
				}
				@include rem-fallback(font-size, 1);
			}
		}

		.row {
			position:relative;
			z-index:2;

			&.second {
				margin:{
					top:20px;
				}

				@include breakpoint(tablet) {
					margin:{
						top:30px;
					}
				}
			}

			&.third {
				margin:{
					top:20px;
				}

				@include breakpoint(tablet) {
					margin:{
						top:30px;
					}

					&:before,
					&:after {
						content:"";
						position:absolute;
						top:0;
						bottom:0;

						@include breakpoint(mobile) {
							display:none;
						}

					}

					&:before {
						left:0;
						width:64px;
						height:100%;
						background:url('#{$imgPath}/icon-left-stars2.png') no-repeat center center;
						background-size:100% auto;
				
						@media (-webkit-min-device-pixel-ratio: 2), 
						(min-resolution: 192dpi) { 
							background-image:url('#{$imgPath}/icon-left-stars2@x2.png');
						}
					}

					&:after {
						right:0;
						width:68px;
						height:100%;
						background:url('#{$imgPath}/icon-right-stars2.png') no-repeat center center;
						background-size:100% auto;
				
						@media (-webkit-min-device-pixel-ratio: 2), 
						(min-resolution: 192dpi) { 
							background-image:url('#{$imgPath}/icon-right-stars2@x2.png');
						}
					}
				}

				@include breakpoint(desktop) {
					&:before {
						width:84px;
					}

					&:after {
						width:88px;
					}
				}
			}

			.col {
				@include breakpoint(mobile) {
					margin:{
						top:25px;
					}
				}

				@include breakpoint(tablet) {
					display:inline-block;
					vertical-align: top;
					margin:{
						right:-3px;
					}
				}

				&.introduction {
					@include breakpoint(tablet) {
						width:50%;
					}
				}

				&.brewer,
				&.accessory {
					@include breakpoint(tablet) {
						vertical-align: bottom;
						width:25%;
					}
				}
			}
		}

		.placeholder {

			img {
				&:hover,
				&:active {
					cursor:pointer;
				}
			}

			&.brewer,
			&.accessory {
				img {
					width:100%;
					height:auto;
					max-width:233px;

					margin:0 auto 5px;
				}

				h3, h4 {
					margin:0 0 5px;
					color:$color_black;
					font-weight:700;
					@include rem-fallback(font-size, 1.2);
					text-transform:uppercase;
				}

				p {
					margin:0 0 5px;
					color:$color_black;
					@include rem-fallback(font-size, 1.2);
				}
			}

			&.coffee {
				width:100%;

				ul {
					margin:0;
					padding:0;
					list-style:none;

					li {
						@include breakpoint(tablet) {
							width:19%;
							margin:{
								right:-3px;
								left:1%;
							}
							display:inline-block;
							vertical-align: top;
						}

						.wrapper-text {
							@include breakpoint(tablet) {
								@include clearfix;
								min-height:67px;
							}

							@include breakpoint(desktop) {
								min-height:60px;
							}
						}

					}

					@include breakpoint(tablet) {
						&.li-3 {
							li {
								width:25%;
							}
						}

						&.li-4 {
							li {
								width:22%;
							}
						}
					}
				}

				img {
					width:100%;
					height:auto;
					max-width:156px;

					margin:0 auto 5px;
				}

				h3, h4 {
					margin:0 0 5px;
					color:$color_black;
					font-weight:700;
					@include rem-fallback(font-size, 1.2);
					text-transform:uppercase;
				}

				p {
					margin:0 0 5px;
					color:$color_black;
					@include rem-fallback(font-size, 1.2);

					&.buy {
						a {
							@include breakpoint(tablet) {
								display:block;
								width:100%;
								min-width:0;
								max-width:125px;
								margin:0 auto;
								padding:{
									right:0;
									left:0;
								}
							}
						}
					}
				}
			}

			&.recipe,
			&.activity {
				width:100%;
				max-width:282px;
				margin:15px auto 0;

				@include breakpoint(tablet) {
					width:35%;
					margin:0 1%;
				}

				@include breakpoint(desktop) {
					width:auto;
					margin:0 15px;
				}

				img {
					display:block;
					width:100%;
					height:auto;
				}

				p {
					display:inline-block;
					vertical-align: middle;
					width:100%;
					height:72px;
					margin:0;
					padding:0 10px;

					color:$color_white;
					font-family: $font_default_medium;
					letter-spacing:1.6px;
					text-transform: uppercase;
					line-height:72px;
					@include rem-fallback(font-size, 1.3);
					background:$color_primary;

					@include breakpoint(desktop) {
						@include rem-fallback(font-size, 1.6);
					}

					span {
						display:inline-block;
						vertical-align: middle;
						line-height:1.3em;
					}
				}

				a {
					display:block;

					&:focus,
					&:hover,
					&:active {
						p {
							background:darken($color_primary, 5);
						}
					}
				}
			}
		}
	}


	// Hidden results
	.hidden-result {
		display:none;
	}
}

