* { padding: 0; margin: 0; font-family: 'Reader', Helvetica, sans-serif; color: #333; }

html, body { background: #E9EAEE; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

@font-face { font-family: "Reader"; src: url("../fonts/reader-regular.eot"); src: url("../fonts/reader-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/reader-regular.woff") format("woff"), url("../fonts/reader-regular.ttf") format("truetype"), url("../fonts/reader-regular.svg#Reader") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ReaderBold"; src: url("../fonts/reader-bold.eot"); src: url("../fonts/reader-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/reader-bold.woff") format("woff"), url("../fonts/reader-bold.ttf") format("truetype"), url("../fonts/reader-bold.svg#Reader") format("svg"); font-weight: bold; font-style: normal; }
a:hover { transition: color 300ms linear; }

.container { max-width: 1025px; width: 100%; margin: 0 auto; }

.text-center { text-align: center; }

.uppercase { text-transform: uppercase; }

.mobile-only { display: none; }

.pull-left { float: left; }

.pull-right { float: right; }

.underline { text-decoration: underline; cursor: pointer; }

footer { float: left; width: 100%; }

#global { width: 100%; }
#global header, #global .sub-header, #global .banner, #global .sub-banner, #global .step, #global .main-content, #global .step, #global .journey, #global .bg-grey-sep, #global .form, #global .how-it-works, #global .form .blocks, #global .find-store, #global .thanks, #global footer { float: left; width: 100%; }
#global .main-content { background: url(../images/bg-main.jpg) no-repeat scroll center top/cover; position: relative; }
#global .overlay { background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; display: none; }
#global .popup { display: none; background: #fff; max-width: 500px; padding: 25px 35px; box-sizing: border-box; position: fixed; left: 50%; margin-left: -250px; top: 100px; z-index: 21; text-align: center; }
#global .popup span { font-family: "Reader", Helvetica, sans-serif; font-size: 15px; display: block; margin: 10px 0; text-align: left; }
#global .popup.popcompare { left: 50%; margin-left: -355px; max-width: 710px; position: absolute; top: 900px; width: 710px; }
#global .popup.popcompare img { width: 100%; }
#global .popup .close { background: #ddd none repeat scroll 0 0; color: #000; cursor: pointer; display: block; height: 20px; line-height: 16px; position: absolute; right: 12px; text-align: center; top: 10px; width: 20px; margin-top: 0; }
#global .popup .close:hover { background: #ccc; }

header { border-bottom: 1px solid #e5e5e5; background: #fff; }
header .container { position: relative; padding: 44px 0; }
header .logo { display: inline-block; text-indent: -9999px; height: 21px; width: 125px; margin-right: 72px; background: url(../images/keurig-logo.png) 0 0 no-repeat transparent; }
header .bold { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 15px; text-decoration: underline; text-transform: uppercase; }
header .bold:hover { text-decoration: none; }
header nav { float: right; }
header nav li { list-style: none; display: inline-block; }
header nav li a { color: #767676; font-family: "Reader", Helvetica, sans-serif; font-size: 16px; display: inline-block; margin: 0 15px; padding: 0; transition: color 300ms linear; }
header nav li a:hover { color: #feb100; text-decoration: none; }
header .language-selector { border: 1px solid #d8dbdf; position: absolute; right: 1px; top: 0; width: 163px; padding: 0 15px; margin: 0; text-align: center; height: 23px; font-family: "Reader", Helvetica, sans-serif; font-size: 12px; color: #000; }
header .language-selector a { position: relative; line-height: 23px; padding-right: 5px; transition: color 200ms linear; }
header .language-selector a:hover { color: #ffaf03; text-decoration: none; }
header .language-selector a:before { border: medium solid transparent; content: " "; height: 0; left: 100%; pointer-events: none; position: absolute; top: 8px; width: 0; border-color: rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) #ffaf03; border-width: 5px; margin-top: -5px; }
header .language-selector a:after { border: medium solid transparent; content: " "; height: 0; left: 100%; pointer-events: none; position: absolute; top: 8px; width: 0; border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ffffff; border-width: 2px; margin-top: -2px; }

/* SUB HEADER
*/
.sub-header { background: #feb100; font-family: "Reader", Helvetica, sans-serif; font-size: 14px; color: #fff; padding: 10px 0; }

.sub-header strong { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 24px; color: #fff; margin-right: 10px; }

.banner { background: transparent url("../images/banner.jpg") no-repeat scroll center top/cover; min-height: 400px; position: relative; }
.banner .container { position: relative; }
.banner .container .circle { background: #000 none repeat scroll 0 0; border-radius: 100px; box-sizing: border-box; height: 185px; padding: 20px 38px; position: absolute; right: 0; text-align: center; top: -22px; width: 185px; }
.banner .container .circle span { font-family: "Reader", Helvetica, sans-serif; font-size: 17px; line-height: 19px; display: inline-block; border-bottom: 1px solid #fff; color: #fff; margin-bottom: 10px; padding-bottom: 8px; }
.banner .container .circle .bold { text-transform: uppercase; color: #fff; display: inline; text-decoration: none; border: none; font-family: "ReaderBold", Helvetica, sans-serif; }
.banner .container .circle a { text-transform: uppercase; color: #feb100; text-decoration: underline; font-size: 24px; font-family: "ReaderBold", Helvetica, sans-serif; display: block; }
.banner .container .circle a:hover { text-decoration: none; }
.banner .container .container-left, .banner .container .container-right { border-right: 5px solid rgba(255, 255, 255, 0.75); box-sizing: border-box; float: left; margin: 0 auto; min-height: 370px; padding: 55px 45px 20px 45px; width: 50%; }
.banner .container .container-left .head, .banner .container .container-right .head { border-bottom: 1px solid rgba(230, 230, 230, 0.3); margin-bottom: 10px; padding: 0 5px 5px; }
.banner .container .container-left .head, .banner .container .container-left .head sup, .banner .container .container-right .head, .banner .container .container-right .head sup { color: #fff; font-family: "Reader", Helvetica, sans-serif; font-size: 22px; display: block; text-shadow: 2px 2px 3px #444; }
.banner .container .container-left .head sup, .banner .container .container-right .head sup { display: inline; font-size: 13px; }
.banner .container .container-left .title, .banner .container .container-right .title { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 40px; color: #fff; margin-bottom: 15px; display: block; }
.banner .container .container-left .title span, .banner .container .container-right .title span { font-size: 66px; line-height: 52px; font-family: "ReaderBold", Helvetica, sans-serif; color: #fff; display: block; }
.banner .container .container-left p, .banner .container .container-right p { color: #fff; font-family: "Reader", Helvetica, sans-serif; font-size: 22px; line-height: 22px; text-transform: uppercase; text-shadow: 2px 2px 3px #444; min-height: 70px; }
.banner .container .container-left p span, .banner .container .container-right p span { color: #fff; display: inline-block; font-family: "ReaderBold",Helvetica,sans-serif; font-size: 44px; margin-top: -15px; position: relative; top: 15px; }
.banner .container .container-left p span sup, .banner .container .container-right p span sup { color: #fff; font-size: 22px; text-shadow: 2px 2px 3px #444; }
.banner .container .container-left p sup, .banner .container .container-right p sup { color: #fff; font-size: 12px; text-shadow: 2px 2px 3px #444; }
.banner .container .container-left .btn, .banner .container .container-right .btn { display: inline-block; background: #ffb200; padding: 13px 24px; margin-top: 33px; font-family: "ReaderBold", Helvetica, sans-serif; font-size: 19px; color: #fff; }
.banner .container .container-left .btn:hover, .banner .container .container-right .btn:hover { background: #000; text-decoration: none; transition: background 300ms ease 0s; }
.banner .container .container-right { border-right: 0; }
.banner .container .container-right p { padding: 0 40px; }
.banner .copy { bottom: 4px; left: 0; margin-left: 0; position: absolute; text-align: center; width: 100%; text-transform: uppercase; }
.banner .copy, .banner .copy sup { color: #fff; font-family: "Reader", Helvetica, sans-serif; font-size: 10px; }
.banner .copy sup { font-size: 6px; }

.step { background: #f1f1f1; padding: 42px 0; text-align: center; }
.step .circle { background: #000 none repeat scroll 0 0; border-radius: 50px; color: #fff; display: inline-block; float: none; height: 64px; margin: 0 20px 0 0; text-align: center; text-transform: uppercase; width: 64px; }
.step .circle span { display: block; color: #fff; font-size: 13px; line-height: 14px; margin-top: 18px; }
.step .circle .num { font-size: 26px; line-height: 26px; margin-top: 0; }
.step .title { color: #000; font-family: "Reader", Helvetica, sans-serif; font-size: 36px; position: relative; top: -12px; }
.step .title sup { font-size: 20px; }

.offer { width: 100%; border-top: 44px solid #444444; background: #fff; float: left; position: relative; }
.offer .compare { background: #ffb200 none repeat scroll 0 0; display: inline-block; height: 60px; line-height: 60px; padding: 0 24px; position: absolute; right: -255px; bottom: 100%; -webkit-transform: translateY(-50%) rotate(90deg); -ms-transform: translateY(-50%) rotate(90deg); transform: translateY(-50%) rotate(90deg); z-index: 2; width: 405px; text-align: center; cursor: pointer; }
.offer .compare:hover { background: #000; border-color: transparent #000 transparent transparent; }
.offer .compare span { color: #fff; font-size: 20px; font-family: "ReaderBold", Helvetica, sans-serif; text-transform: uppercase; text-decoration: underline; }
.offer .compare span:hover { text-decoration: none; }
.offer .compare:before { border: medium solid transparent; content: " "; height: 0; left: 0%; pointer-events: none; position: absolute; top: 64px; width: 0; border-color: rgba(255, 175, 3, 0) #ffaf03 rgba(255, 175, 3, 0) rgba(255, 175, 3, 0); border-width: 17px; margin-top: -5px; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); transition: background 300ms ease; }
.offer .compare:after { border: medium solid transparent; content: " "; height: 0; left: 100%; pointer-events: none; position: absolute; top: 64px; width: 0; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); border-color: rgba(255, 175, 3, 0) #ffaf03 rgba(255, 175, 3, 0) rgba(255, 175, 3, 0); border-width: 17px; margin-top: -5px; margin-left: -35px; transition: background 300ms ease; }
.offer .compare:hover:before, .offer .compare:hover:after { border-color: transparent #000 transparent transparent; }
.offer .infos { float: left; width: 50%; padding-left: 64px; padding-right: 27px; box-sizing: border-box; }
.offer .infos .deco { display: block; height: 87px; width: 87px; border-radius: 50px; margin: -34px auto 21px auto; }
.offer .infos h2 { font-weight: normal; font-family: "Reader", Helvetica, sans-serif; font-size: 19px; text-transform: uppercase; border-bottom: 3px solid #000; padding-bottom: 6px; margin-bottom: 30px; }
.offer .infos .big { font-size: 45px; font-family: "ReaderBold", Helvetica, sans-serif; text-transform: uppercase; }
.offer .infos .big sup { font-size: 30px; }
.offer .infos .big strong { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 70px; }
.offer .infos .big span { font-size: 23px; font-family: "ReaderBold", Helvetica, sans-serif; display: block; margin-top: -14px; text-transform: none; }
.offer .infos .big span sup { font-size: 15px; }
.offer .infos p { margin-top: 21px; line-height: 24px; font-size: 20px; }
.offer .products { text-align: center; float: left; width: 50%; }
.offer .products .product { box-sizing: border-box; float: left; padding: 0 30px; width: 50%; position: relative; top: -44px; }
.offer .products .product a, .offer .products .product span { display: block; }
.offer .products .product .title { color: #fff; display: inline-block; font-family: "ReaderBold", Helvetica, sans-serif; font-size: 20px; height: 44px; line-height: 44px; margin-bottom: 12px; }
.offer .products .product .desc { color: #000; display: block; font-family: "Reader", Helvetica, sans-serif; font-size: 19px; line-height: 18px; margin: 20px auto; text-align: center; width: 80%; }
.offer .products .product img { max-height: 207px; }
.offer .products .product .price { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 18px; line-height: 18px; color: #000; margin: 10px 0; }
.offer .products .product .options { display: block; width: 100%; height: 14px; text-align: center; margin: 10px 0; }
.offer .products .product .brewerImgContainer { display: inline-block; height: 208px; overflow: hidden; position: relative; width: 113px; }
.offer .products .product .brewerImgContainer img { height: 208px; left: 150px; position: absolute; top: 0; transition: all 0.25s ease-in-out 0s; width: 113px; }
.offer .products .product .brewerImgContainer .activeBrewer { left: 0; transition: all 0.25s ease-in-out 0s; }
.offer .products .product .colorSelect { min-height: 13px; line-height: 13px; margin: 7px 0; }
.offer .products .product .colorSelect span { border: 1px solid #b7b7b7; border-radius: 50%; display: inline-block; height: 13px; width: 13px; cursor: pointer; }
.offer .products .product .colorSelect span.k200violet { background: #7e3f8c none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k200pearl { background: #ccc9c2 none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k200white { background: #ffffff none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k200black { background: #000000 none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k200turquoise { background: #55afb3 none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k200red { background: #ac514f none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k200orange { background: #dd7d3d none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k400white { background: #ffffff none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k400black { background: #000000 none repeat scroll 0 0; }
.offer .products .product .colorSelect span.k400red { background: #772337 none repeat scroll 0 0; }
.offer .products .product a { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 14px; line-height: 14px; color: #000; padding: 0; text-decoration: underline; }
.offer .products .product a:hover { text-decoration: none; }
.offer .products .product a.btn { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 14px; line-height: 14px; color: #fff; padding: 10px 22px; display: inline-block; text-transform: uppercase; text-decoration: none; background: #ffb200; margin: 12px 0; transition: background 300ms ease; }
.offer .products .product a.btn:hover { background: #000; }
.offer .products .product a.cta { text-transform: uppercase; font-size: 16px; line-height: 16px; }

.offer2 .products .product .brewerImgContainer { width: 146px; height: 207px; }
.offer2 .products .product .brewerImgContainer img { width: 146px; height: 207px; }

.offer.offer1 .deco { background: url(../images/deco-offer1.png) center center no-repeat #168044; }

.offer.offer2 .deco { background: url(../images/deco-offer2.png) center center no-repeat #d1222f; }

.journey { height: 170px; -webkit-columns: #fff; -moz-columns: #fff; columns: #fff; }
.journey.black { background: #000; }
.journey.black .block { width: 25%; }
.journey.black .block:after { border-color: transparent transparent transparent #000; }
.journey.black .block.last:after, .journey.black .block.last:before { display: none; }
.journey.black .block.first { padding-left: 0; padding-right: 18px; width: 20%; }
.journey.black .block.two { padding-left: 30px; padding-right: 15px; }
.journey.grey { background: #444444; margin-bottom: 90px; }
.journey.grey .yellow span { padding: 0 17px; }
.journey.grey .block { width: 19%; padding-left: 52px; padding-right: 30px; }
.journey.grey .block:after { border-color: rgba(68, 68, 68, 0) rgba(68, 68, 68, 0) rgba(68, 68, 68, 0) #444; }
.journey.grey .block.last:after, .journey.grey .block.last:before { display: none; }
.journey .yellow { background: #feb100; height: 205px; width: 205px; padding: 0 20px; box-sizing: border-box; position: relative; top: -17px; float: left; text-align: center; color: #fff; margin-right: 27px; }
.journey .yellow span { position: relative; top: 50%; color: #fff; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); display: block; font-family: "ReaderBold", Helvetica, sans-serif; font-size: 21px; letter-spacing: 0.7px; text-transform: uppercase; }
.journey .block { float: left; height: 170px; position: relative; padding-left: 60px; padding-right: 50px; box-sizing: border-box; }
.journey .block p { position: relative; top: 50%; color: #fff; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); display: block; font-family: "Reader", Helvetica, sans-serif; font-size: 18px; text-align: center; }
.journey .block p sup { color: #fff; font-size: 11px; }
.journey .block p a { color: #feb100; text-decoration: underline; font-family: "ReaderBold", Helvetica, sans-serif; }
.journey .block:before { border: medium solid transparent; content: " "; height: 0; left: 100%; pointer-events: none; position: absolute; top: 70px; width: 0; border-color: rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) #ffaf03; border-width: 17px; margin-top: -5px; }
.journey .block:after { border: medium solid transparent; content: " "; height: 0; left: 100%; pointer-events: none; position: absolute; top: 70px; width: 0; border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ffffff; border-width: 14px; margin-top: -2px; margin-left: -3px; }
.journey .block.first { padding-left: 0; }
.journey .block.last { padding-right: 0; }

.bg-grey-sep { height: 105px; background: #f1f1f1; text-align: center; }
.bg-grey-sep span { font-family: "ReaderBold"; font-size: 24px; text-transform: uppercase; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); display: inline-block; padding-left: 48px; background: url(../images/tick-yellow.png) 0 2px no-repeat transparent; }

.sub-banner .container p { padding: 74px 0 47px; }
.sub-banner .container p span { color: #000; display: block; font-family: "Reader",Helvetica,sans-serif; font-size: 36px; line-height: 43px; }
.sub-banner .container p span sup { font-size: 16px; }

.how-it-works { background: #f1f1f1 url("../images/bg-thanks.jpg") no-repeat scroll center top/100% auto; }
.how-it-works .journey { height: auto; text-align: center; padding-bottom: 35px; margin-bottom: 0; }
.how-it-works .journey .block sup { color: #fff; font-size: 10px; }
.how-it-works .journey .block.two { padding-left: 28px; padding-right: 21px; width: 15%; }
.how-it-works .journey .block.three { width: 28%; }
.how-it-works .journey .block.first { padding-right: 32px; width: 19%; }
.how-it-works .journey .tick { background: transparent url("../images/tick-yellow.png") no-repeat scroll 0 2px; display: inline-block; font-family: "ReaderBold"; font-size: 24px; padding-left: 48px; color: #fff; position: relative; text-transform: uppercase; }

.form h2 { border-bottom: 1px solid #d8dbdf; font-size: 36px; font-weight: normal; line-height: 36px; margin: 0 auto 30px; padding: 0 30px 20px; text-align: center; width: 70%; box-sizing: border-box; }
.form form { background: #f1f1f1 none repeat scroll 0 0; box-sizing: border-box; display: inline-block; padding: 50px; margin: 0 auto; width: 760px; margin-bottom: 45px; text-align: left; }
.form form #error-container { float: none; margin: 10px auto 0; overflow: hidden; position: relative; }
.form form #error-container p { background: #ee0010 none repeat scroll 0 0; color: #fff; float: none; margin: 0; font-size: 14px; padding: 12px 20px; text-align: center; }
.form form .col { width: 45%; }
.form form .col.full { width: 100%; }
.form form .col .legal { display: inline-block; font-size: 13px; line-height: 14px; margin-top: 12px; }
.form form .col .info { display: block; margin-top: 41px; }
.form form .col .checkbox a { text-decoration: underline; }
.form form .col .checkbox a:hover { text-decoration: none; }
.form form .col .field { /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */ /*Checkbox*/ }
.form form .col .field.invalid input, .form form .col .field.invalid input + .label, .form form .col .field.invalid.select select { color: #ee0010 !important; border-color: #ee0010 !important; }
.form form .col .field.invalid a { color: #c00; }
.form form .col .field label span.label { font-size: 15px; display: block; margin-bottom: 5px; margin-top: 15px; }
.form form .col .field label input[type="text"], .form form .col .field label input[type="email"], .form form .col .field label select { background: #fff none repeat scroll 0 0; border: 1px solid #d8dbdf; border-radius: 20px; box-sizing: border-box; color: #575757; font-size: 13px; height: 29px; padding: 0 10px; width: 100%; }
.form form .col .field.select select { background: #fff none repeat scroll 0 0; border: 1px solid #d8dbdf; border-radius: 20px; box-sizing: border-box; color: #575757; font-size: 13px; height: 29px; padding: 0 10px; width: 100%; outline: none; display: inline-block; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { .form form .col .field.select select { padding-right: 18px; } }
.form form .col .field.select { position: relative; }
.form form .col .field.select label:after { content: ''; right: 12px; top: 38px; padding: 0 0 2px; width: 12px; height: 6px; position: absolute; pointer-events: none; background: url(../images/arrow-select.gif) 0 0 no-repeat transparent; }
.form form .col .field.select option { padding-left: 10px; }
.form form .col .field input[type=checkbox] { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
.form form .col .field input[type=checkbox] + label, .form form .col .field input[type=checkbox] + .label { background-position: left 4px; background-repeat: no-repeat; cursor: pointer; display: inline-block; margin-bottom: 8px; padding-bottom: 1px; padding-top: 1px; padding-left: 26px; letter-spacing: 0.2px; vertical-align: middle; }
.form form .col .field input[type=checkbox]:checked + label, .form form .col .field input[type=checkbox]:checked + .label { background-image: url(../images/checkbox-ok.gif); }
.form form .col .field input[type=checkbox] + label, .form form .col .field input[type=checkbox] + .label { background-image: url(../images/checkbox.gif); }
.form form .col .field#other-purchased-from { display: none; }
.form form .col .field#other-purchased-from.show { display: block; }
.form form .col button.button { background: #ffaf01 none repeat scroll 0 0; border: 1px solid #db9623; color: #fff; display: block; float: none; font-family: "ReaderBold",Helvetica,sans-serif; font-size: 15px; height: 45px; margin: 20px auto; max-width: 100%; text-align: center; text-transform: uppercase; width: 273px; cursor: pointer; }
.form form .col button.button:hover { background: #db9623; transition: background 300ms linear; }
.form .blocks { margin-top: 10px; }
.form .blocks .block { background: #fff none repeat scroll 0 0; float: left; margin: 10px 0.5%; text-align: center; width: 49%; padding: 22px 0; }
.form .blocks .block h3 { background-position: center top; background-repeat: no-repeat; font-size: 35px; font-weight: normal; line-height: 35px; padding-bottom: 10px; padding-top: 45px; }
.form .blocks .block.faq h3 { background-image: url(../images/picto-faq.png); }
.form .blocks .block.git h3 { background-image: url(../images/picto-git.png); }
.form .blocks .block span { font-size: 20px; display: block; }
.form .blocks .block a.btn { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 14px; line-height: 14px; color: #fff; padding: 10px 22px; display: inline-block; text-transform: uppercase; text-decoration: none; background: #ffb200; margin: 12px 0; transition: background 300ms ease; }
.form .blocks .block a.btn:hover { background: #000; }

.find-store .container { background: #fff; text-align: center; padding: 4em 2em; margin: 70px auto; }
.find-store .container h2 { font-size: 30px; font-family: "Reader", Helvetica, sans-serif; margin-bottom: 24px; font-weight: normal; }
.find-store .container h2 sup { font-size: 13px; }
.find-store .container p { font-size: 15px; }
.find-store .container p sup { font-size: 10px; }
.find-store .container h3 { font-size: 24px; font-family: "Reader", Helvetica, sans-serif; margin-bottom: 24px; margin-top: 77px; font-weight: normal; }
.find-store .container hr { background: #9b9b9b none repeat scroll 0 0; margin: 0 auto 2em; width: 10%; }
.find-store .container ul { display: block; margin: 0 0 20px; padding: 0; width: 100%; }
.find-store .container ul li { display: inline-block; margin: 10px 8px; vertical-align: middle; }
.find-store .container ul li a img { border: none; }

.thanks { background: transparent url("../images/bg-thanks.jpg") no-repeat scroll center top/cover; padding: 100px 0; }
.thanks .inside { background: #fbfbfb; padding: 51px 45px; max-width: 750px; box-sizing: border-box; margin: 0 auto; }
.thanks .inside h1 { font-family: "Reader", Helvetica, sans-serif; font-size: 50px; line-height: 50px; margin-top: 0; padding: 0 0 10px 0; position: relative; text-align: center; padding-bottom: 35px; font-weight: normal; }
.thanks .inside h1:before { background: #c4c4c4 none repeat scroll 0 0; bottom: 12px; content: ""; height: 2px; left: 50%; margin-left: -19px; position: absolute; width: 38px; }
.thanks .inside span { font-family: "Reader", Helvetica, sans-serif; font-size: 15px; display: block; margin: 12px 0 21px; }
.thanks .inside span.bold { font-family: "ReaderBold", Helvetica, sans-serif; margin: 0 0 3px 0; }
.thanks .inside span.bold sup { font-family: "ReaderBold", Helvetica, sans-serif; font-size: 9px; }
.thanks .inside img { margin-bottom: 6px; }

footer { background: #fff; }
footer ul { display: inline-block; padding: 43px 27px 40px 27px; width: 25%; text-align: left; box-sizing: border-box; vertical-align: top; }
footer ul lh { color: #444444; display: block; padding-bottom: 14px; }
footer ul lh a:hover { text-decoration: none; color: #FEB100; }
footer ul li { list-style-type: none; }
footer ul li a, footer ul li span { color: #929aa5; text-decoration: none; }
footer ul li a:before, footer ul li span:before { content: ">"; font-size: 13px; padding: 0 5px 0 0; }
footer ul li a:hover { text-decoration: none; color: #FEB100; }
footer .copy { border-top: 1px solid #d8dbdf; clear: both; padding: 15px 0 25px; text-align: center; color: #929aa5; box-sizing: border-box; float: left; width: 100%; }

@media only screen and (max-width: 1300px) { footer ul { width: 30%; } }
@media only screen and (max-width: 1200px) { /* 	OFFERS */
  .offer .compare { display: none; bottom: -60px; left: 0; right: 0; -webkit-transform: none; -ms-transform: none; transform: none; text-align: center; padding: 0; width: 100%; }
  .offer .compare:before, .offer .compare:after { display: none; } }
@media only screen and (max-width: 1070px) { /* 	GENERAL */
  .container { padding-left: 30px !important; padding-right: 30px !important; box-sizing: border-box; }
  /* 	BANNER */
  .banner .container .circle { right: 20px; }
  #global .banner .container .title { font-size: 35px; }
  #global .banner .container .title span { font-size: 55px; }
  #global .banner .container p { font-size: 19px; line-height: 19px; }
  #global .banner .container p span { font-size: 31px; top: 8px; }
  /* 	JOURNEY */
  #global .journey { height: auto; }
  #global .journey .block { width: 100%; height: auto; padding: 0; }
  #global .journey .block p { -webkit-transform: none; -ms-transform: none; transform: none; top: 0; padding: 20px 0; }
  #global .journey .block:before { left: 50%; margin-left: -16px; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); top: auto; bottom: -26px; }
  #global .journey .block:after { left: 50%; margin-left: -13px; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); top: auto; bottom: -17px; }
  #global .journey .yellow { color: #feb100; background: none; height: auto; margin-right: 0; padding: 20px; position: relative; text-align: center; top: 0; width: 100%; }
  #global .journey .yellow span { color: #feb100; display: block; font-family: "ReaderBold",Helvetica,sans-serif; font-size: 21px; letter-spacing: 0.7px; position: relative; text-transform: uppercase; top: 0; -webkit-transform: none; -ms-transform: none; transform: none; }
  .bg-grey-sep { box-sizing: border-box; padding: 0 20px; }
  /* 	FORM */
  .form .blocks .block { margin: 0 0 10px; width: 100%; } }
@media only screen and (max-width: 992px) { /* 	HEADER */
  header .logo { margin-right: 30px; }
  /* 	OFFERS */
  .offer .infos { width: 40%; }
  .offer .products { width: 60%; } }
@media only screen and (max-width: 810px) { header nav li a { margin-top: 0 10px; }
  /* 	FORM */
  #global .form .container { padding-left: 0 !important; padding-right: 0 !important; }
  #global .form form { margin-bottom: 0; width: 100%; position: static; -webkit-transform: none; -ms-transform: none; transform: none; padding: 40px 30px; background: none; }
  #global .form form .col { float: left; width: 100%; }
  #global .form form .col .field input[type="text"], #global .form form .col .field input[type="email"], #global .form form .col .field select { width: 100%; }
  #global .form form .col .field.select label:after { right: 14px; top: 38px; }
  #global .form .blocks .block { padding: 22px; box-sizing: border-box; } }
@media only screen and (max-width: 767px) { /* 	DISPLAY NONE */
  .desktop-only, .banner .container .circle, .banner .container-min .arrow, .language-selector { display: none; }
  /* 	DISPLAY BLOCK */
  .mobile-only { display: block; }
  /* 	HEADER */
  header .container { padding: 25px 0; }
  header .container .main-menu.mobile-only #btn-menu { background: url(../images/btn-menu-mobile.jpg) 0 0 no-repeat transparent; display: block; width: 24px; height: 18px; background-size: 100% auto; cursor: pointer; margin-top: 3px; }
  header .container .main-menu.mobile-only ul { display: none; background: #f1f1f1 none repeat scroll 0 0; float: left; height: auto; left: 0; padding: 20px; position: absolute; top: 74px; width: 100%; z-index: 2; box-sizing: border-box; box-shadow: 0 11px 14px -9px #949494; }
  header .container .main-menu.mobile-only ul li { display: inline-block; list-style: outside none none; margin: 7px 0; width: 100%; }
  .sub-header { padding: 10px; box-sizing: border-box; }
  .sub-header, .sub-header strong { font-size: 13px; font-family: "ReaderBold", Helvetica, sans-serif; }
  .sub-header strong { margin-right: 5px; }
  .language-selector.mobile-only { border: medium none; height: 23px; margin: 0; padding: 0; position: absolute; right: 74px; text-align: center; top: 25px; width: auto; }
  .language-selector.mobile-only a { color: #000; font-family: "ReaderBold",Helvetica,sans-serif; font-size: 12px; text-transform: uppercase; text-decoration: underline; }
  .language-selector.mobile-only a:before, .language-selector.mobile-only a:after { display: none; }
  /* 	BANNER */
  .banner { max-height: 260px; }
  .banner .container { display: block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  .banner .container-min { min-width: 0; width: 50%; padding-top: 0; }
  .banner .container-min p { font-size: 26px; }
  .banner .container-min .head, .banner .container-min .head sup { font-size: 15px; }
  .banner .copy { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; bottom: 0 !important; box-sizing: border-box; font-size: 8px; left: 0; margin-bottom: 0; margin-left: 0 !important; padding: 2px 10px; position: absolute; width: 100% !important; }
  #global .banner { max-height: 100%; min-height: 0; background-position: 30% top; padding-bottom: 30px; }
  #global .banner .container { position: static; }
  #global .banner .container .container-left, #global .banner .container .container-right { border-right: medium none; border-bottom: 5px solid rgba(255, 255, 255, 0.75); min-height: 0; padding: 20px 30px; width: 100%; }
  #global .banner .container .container-right { border-bottom: none; }
  #global .banner .container .container-right p { padding: 0; }
  #global .banner .container .title { font-size: 24px; }
  #global .banner .container .title span { font-size: 40px; line-height: 40px; }
  #global .banner .container p { font-size: 16px; line-height: 19px; }
  #global .banner .container p span { font-size: 26px; margin-top: -18px; position: relative; top: 5px; }
  #global .banner .container p span sup { font-size: 11px; }
  #global .banner .container .btn { font-size: 14px; margin-top: 15px; }
  /* 	OFFERS */
  .main-content > .container { padding-left: 0 !important; padding-right: 0 !important; }
  .offer { padding-bottom: 25px; border-top: 33px solid #444444; }
  .offer .compare span { font-size: 16px; }
  .offer .infos { width: 100%; padding-left: 25px; padding-right: 25px; }
  .offer .infos h2 { font-size: 14px; border-bottom: 2px solid #000; margin-bottom: 5px; }
  .offer .infos p { font-size: 15px; line-height: 18px; margin-bottom: 20px; margin-top: 2px; }
  .offer .infos .big { font-size: 33px; }
  .offer .infos .big sup { font-size: 22px; }
  .offer .infos .big strong { font-size: 56px; }
  .offer .infos .big span { font-size: 18px; margin-top: -15px; }
  .offer .infos .big span sup { font-size: 12px; }
  .offer .infos .deco { background-size: 50px auto !important; border-radius: 50px; display: block; height: 65px; margin: -24px auto 8px; width: 65px; }
  .offer .products { width: 100%; }
  .offer .products .product { top: 0; }
  .offer .products .product img { max-width: 100%; max-height: 155px; }
  .offer .products .product .title { color: #000; margin-bottom: 0; height: 30px; line-height: 35px; }
  .offer .products .product .desc { font-size: 14px; line-height: 14px; margin: 5px auto 15px; height: 30px; }
  .offer .products .product a { font-size: 13px; }
  .offer .products .product a.btn { display: inline-block; }
  .offer .products .product .price { font-size: 14px; margin: 0; }
  .offer .products .product .options { margin: 0 0 20px 0; height: 10px; }
  .offer .products .product .options img { max-height: 100%; }
  .offer.offer1 .products .product .brewerImgContainer .activeBrewer, .offer.offer2 .products .product .brewerImgContainer .activeBrewer { left: 15px; }
  .offer.offer1 .products .product .brewerImgContainer { height: 155px; width: 113px; }
  .offer.offer1 .products .product .brewerImgContainer img { margin: 0 auto !important; max-height: 155px; max-width: 100%; text-align: center; width: auto !important; }
  .offer.offer2 .products .product .brewerImgContainer { height: 155px; width: 140px; }
  .offer.offer2 .products .product .brewerImgContainer img { height: 207px; width: auto; }
  /* 	STEPS */
  .step { padding: 23px 0; }
  .step .title { font-size: 23px; }
  /* 	JOURNEY */
  .journey.grey { margin-bottom: 0; }
  .bg-grey-sep { background: #fff none repeat scroll 0 0; height: 60px; text-align: center; }
  .bg-grey-sep span { background: transparent url("../images/tick-yellow.png") no-repeat scroll 0 2px/28px auto; display: inline-block; font-size: 14px; height: 26px; padding-left: 38px; padding-top: 4px; }
  #global .journey .yellow { padding: 20px 0 0; }
  #global .journey .yellow span { font-size: 16px; line-height: 20px; }
  #global .journey .block p { font-size: 15px; font-weight: normal; line-height: 17px; padding: 20px 0; top: 0; -webkit-transform: none; -ms-transform: none; transform: none; }
  /* 	FORM */
  .form { background: #f1f1f1; }
  .form h2 { border-bottom: 1px solid #d8dbdf; box-sizing: border-box; font-size: 24px; font-weight: normal; line-height: 26px; margin: 0 auto 30px; padding: 0 10px 20px; text-align: center; width: 95%; }
  .form .blocks .block h3 { font-size: 25px; line-height: 25px; }
  .form .blocks .block span { font-size: 15px; }
  .form .blocks .block a.btn { font-size: 12px; width: 200px; max-width: 100%; box-sizing: border-box; }
  .how-it-works { background: #f1f1f1 url("../images/bg-main.jpg") no-repeat scroll center top/100% auto; }
  .how-it-works .sub-banner .container p { padding: 50px 0; }
  .how-it-works .sub-banner .container p span { font-size: 26px; line-height: 31px; }
  .how-it-works .sub-banner .container p span sup { font-size: 12px; }
  .how-it-works .journey .tick { background: transparent url("../images/tick-yellow.png") no-repeat scroll 0 2px/28px auto; display: inline-block; font-size: 14px; height: 26px; padding-left: 38px; padding-top: 4px; margin-top: 13px; }
  /* 	FIND STORE */
  .find-store .container ul li { width: 100%; }
  /* 	FOOTER */
  footer { padding: 30px 0 30px; background: #fff; }
  footer ul { width: 100%; padding-bottom: 0px; padding-top: 0px; }
  footer ul lh { padding-bottom: 30px; }
  footer .copy { font-size: 13px; padding: 15px 25px; text-align: left; margin-top: 30px; }
  /* 	THANKS */
  .thanks { background: #fbfbfb; padding: 30px 0; }
  .thanks .inside { background: none; padding: 30px 0px; }
  .thanks .inside h1 { font-size: 21px; line-height: 21px; }
  .thanks .inside span { font-size: 13px; }
  /* 	POPUP */
  #global .popup { margin-left: -45%; max-width: 90%; top: 20px; } }
@media only screen and (max-width: 460px) { /* 	BANNER */
  .banner { min-height: 200px; }
  .banner .container { -webkit-transform: translateY(-56%); -ms-transform: translateY(-56%); transform: translateY(-56%); }
  .banner .container-min { width: 100%; }
  /* 	OFFERS */
  /* 	STEP */
  #discover .container { padding-left: 20px !important; padding-right: 20px !important; }
  .step .circle { float: left; margin-right: 15px; }
  .step .title { line-height: 25px; position: relative; top: 8px; } }
@media only screen and (max-width: 380px) { .offer .products .product a.btn { width: 100%; padding: 10px 0; } }
@media only screen and (max-width: 340px) { .offer .products .product img { max-height: 115px; max-width: 100%; }
  .offer .products .product .desc { height: 43px; }
  .offer.offer1 .products .product .brewerImgContainer { height: 115px; width: 113px; }
  .offer.offer2 .products .product .brewerImgContainer { height: 115px; width: 120px; }
  .offer.offer1 .products .product .brewerImgContainer img { max-height: 115px; }
  .offer.offer1 .products .product .brewerImgContainer .activeBrewer { left: 20px; }
  .offer.offer2 .products .product .brewerImgContainer .activeBrewer { left: 8px; } }
html[lang="fr"] .sub-header strong { font-size: 22px; }
html[lang="fr"] .banner .container-min p { font-size: 30px; }
html[lang="fr"] .banner .copy { margin-left: 0; width: 100%; }
html[lang="fr"] .banner .container .circle span { font-size: 16px; line-height: 17px; }
html[lang="fr"] .banner .container .circle .bold { display: inline-block; font-size: 14px; line-height: 17px; margin-bottom: 0; padding-bottom: 0px; }
html[lang="fr"] .journey .block p { line-height: 16px; }
html[lang="fr"] .how-it-works .journey .block p { line-height: 20px; }
html[lang="fr"] .journey .yellow span { font-size: 19px; }
html[lang="fr"] .form h2 { font-size: 31px; }
html[lang="fr"] #global .banner .container .container-left .title, html[lang="fr"] #global .banner .container .container-right .title { font-size: 30px; }
html[lang="fr"] #global .banner .container .container-right p { padding: 0 20px; }
@media only screen and (max-width: 767px) { html[lang="fr"] .banner .container-min p { font-size: 18px !important; }
  html[lang="fr"] .form h2 { font-size: 24px; }
  html[lang="fr"] .sub-header, html[lang="fr"] .sub-header strong { font-size: 13px; font-family: "ReaderBold", Helvetica, sans-serif; }
  html[lang="fr"] .banner .copy, html[lang="fr"] .banner .copy sup { font-size: 8px; } }

#promo-end-container { background: url(../images/bg-promo-end.jpg) top center; background-size: cover; overflow: hidden; width: 100%; }
#promo-end-container #promo-end-content { width: 100%; max-width: 710px; padding: 60px 30px; margin: 100px auto; background: rgba(255, 255, 255, 0.8); text-align: center; box-sizing: border-box; }
#promo-end-container #promo-end-content h1 { font-family: 'ReaderBold'; font-size: 40px; margin-bottom: 20px; }
#promo-end-container #promo-end-content p { font-size: 22px; padding: 0px 30px; }
#promo-end-container #promo-end-content p a { color: #ffb200; text-decoration: underline; font-family: 'ReaderBold'; }
#promo-end-container #promo-end-content .btn { display: inline-block; background: #ffb200; padding: 16px 65px; margin-top: 33px; font-family: "ReaderBold"; font-size: 20px; color: #fff; text-decoration: none; text-transform: uppercase; }
#promo-end-container #promo-end-content .btn:hover { background: #000; transition: background 300ms ease 0s; }
