
// ------------------------------------------------------------
//   Lightbox
//-------------------------------------------------------------
.close {
	position:absolute;
	top:15px;
	right:15px;
	z-index:99;
	padding:10px;
	background:none;
	border:2px solid $color_white;
	@include alpha-background-color(rgba($color_black, 0.3), $color_white);
	background-position:center center;
	background-repeat:no-repeat;

	@include breakpoint(tablet) {
		position:fixed;
		top:26px;
		right:26px
	}


	&:focus,
	&:hover,
	&:active {
		@include box-shadow(rgba($color_white, 0.5) 0 0 10px 2px);
	}

	display:none;
	padding:{
		left:34px;
	}
	font-family:$font_default_bold;
	text-transform:uppercase;
	letter-spacing:1px;
	@include rem-fallback(font-size, 1.2);
	line-height:1em;

	background-image:url('#{$imgPath}/icon-back-2.png');
	background-position:10px center;
	background-size:11px 19px;
			
	@media (-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		background-image:url('#{$imgPath}/icon-back-2@x2.png');
	}

	@include breakpoint(mobile) {
		@include hidetext;
		width:33px;
		height:33px;
		padding:0;
		background-position:center center;
	}

/*
	&.all {
		height:33px;
		background-image:url('#{$imgPath}/icon-back-2.png');
		background-size:11px 19px;
				
		@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			background-image:url('#{$imgPath}/icon-back-2@x2.png');
		}
	}

	&.back {
		display:none;
		padding:{
			left:48px;
		}
		font-family:$font_default_bold;
		text-transform:uppercase;
		letter-spacing:1px;
		@include rem-fallback(font-size, 1.2);

		background-image:url('#{$imgPath}/icon-back-2.png');
		background-position:10px center;
		background-size:11px 19px;
				
		@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			background-image:url('#{$imgPath}/icon-back-2@x2.png');
		}

		@include breakpoint(mobile) {
			@include hidetext;
			width:44px;
			height:34px;
			padding:0;
			background-position:center center;
		}
	}
	*/
}