
// ------------------------------------------------------------
//   Share
//-------------------------------------------------------------
.share {
	padding:10px 20px 20px;
	background:$color_white;

	@include breakpoint(tablet) {
		padding:15px 30px 30px;
	}

	@include breakpoint(desktop) {
		padding:20px 50px 40px;
	}

	p {
		margin:0 0 12px;
		padding:26px 0 0;
		text-align:center;
		border-top:1px solid #a9836d;

		color:#838383;
		font-family:$font_default_medium;
		letter-spacing:1.2px;
		@include rem-fallback(font-size, 1.4);
		line-height:1.2em;
	}

	ul {
		width:100%;
		margin:0;
		padding:0;

		@include breakpoint(tablet) {
			max-width:415px;
			margin:0 auto;
		}

		li {
			display:inline-block;
			vertical-align: top;
			width:33%;
			margin:{
				right:-3px;
				left:2px;
			}

			&:first-child {
				margin:{
					left:0;
				}
			}
		}

		a {
			display:block;
			height:40px;
			@include hidetext;

			&:focus,
			&:hover,
			&:active {
				cursor:pointer;
			}

			&.pinterest {
				background:#eb5755 url('#{$imgPath}/icon-pinterest.png') no-repeat center center;
				background-size:23px 23px;
						
				@media (-webkit-min-device-pixel-ratio: 2), 
				(min-resolution: 192dpi) { 
					background-image:url('#{$imgPath}/icon-pinterest@x2.png');
				}

				&:focus,
				&:hover,
				&:active {
					background-color:darken(#eb5755, 5);
				}
			}

			&.facebook {
				background:#547bbd url('#{$imgPath}/icon-facebook.png') no-repeat center center;
				background-size:10px 22px;
						
				@media (-webkit-min-device-pixel-ratio: 2), 
				(min-resolution: 192dpi) { 
					background-image:url('#{$imgPath}/icon-facebook@x2.png');
				}

				&:focus,
				&:hover,
				&:active {
					background-color:darken(#547bbd, 5);
				}
			}

			&.email {
				background:#7f807e url('#{$imgPath}/icon-email.png') no-repeat center center;
				background-size:27px 18px;
						
				@media (-webkit-min-device-pixel-ratio: 2), 
				(min-resolution: 192dpi) { 
					background-image:url('#{$imgPath}/icon-email@x2.png');
				}

				&:focus,
				&:hover,
				&:active {
					background-color:darken(#7f807e, 10);
				}
			}
		}
	}
}