.find-store{
	.container{
		background: #fff;
		text-align: center;
		padding: 4em 2em;
		margin: 70px auto;
		h2{
			font-size: 30px;
			font-family: "Reader", Helvetica, sans-serif;
			margin-bottom: 24px;
			font-weight: normal;
			sup{
				font-size: 13px;
			}
		}
		p{
			font-size: 15px;
			sup{
				font-size: 10px;
			}
		}
		h3{
			font-size: 24px;
			font-family: "Reader", Helvetica, sans-serif;
			margin-bottom: 24px;
			margin-top: 77px;
			font-weight: normal;
		}
		hr{
			background: #9b9b9b none repeat scroll 0 0;
		    margin: 0 auto 2em;
		    width: 10%;
		}
		ul{
		    display: block;
		    margin: 0 0 20px;
		    padding: 0;
		    width: 100%;
			li{
				display: inline-block;
			    margin: 10px 8px;
			    vertical-align: middle;
				a{
					img{
						border: none;
					}
				}
			}
		}
	}
}