footer{

	background: #fff;

	ul{
		display: inline-block;
	    padding: 43px 27px 40px 27px;
	    width: 25%;
	    text-align: left;
	    box-sizing: border-box;
	    vertical-align: top;

	    	lh {
			    color: #444444;
			    display: block;
			    padding-bottom: 14px;

			    a:hover{
					text-decoration: none;
					color: #FEB100;
				}

			}

			li {
			    list-style-type: none;

				a,
				span {
				    color: #929aa5;
				    text-decoration: none;
				}
			    a:before,
			    span:before {
				    content: ">";
				    font-size: 13px;
				    padding: 0 5px 0 0;
				}
				a:hover{
					text-decoration: none;
					color: #FEB100;
				}
			}
	}

    .copy{
	    border-top: 1px solid #d8dbdf;
	    clear: both;
	    padding: 15px 0 25px;
	    text-align: center;
	    color: #929aa5;
	    box-sizing: border-box;
    	float: left;
    	width: 100%;
	}
}