html[lang="fr"]{
	.sub-header strong{
		font-size: 22px;
	}
	.banner .container-min p{
		font-size: 30px;
	}
	.banner .copy{
		margin-left: 0;
		width: 100%;
	}
	.banner .container .circle span{
		font-size: 16px;
		line-height: 17px;
	}
	.banner .container .circle .bold {
	    display: inline-block;
	    font-size: 14px;
	    line-height: 17px;
	    margin-bottom: 0;
	    padding-bottom: 0px;
	}
	.journey .block p{
		line-height: 16px;
	}
	.how-it-works .journey .block p{
		line-height: 20px;
	}
	.journey .yellow span{
		font-size: 19px;
	}
	.form h2{
		font-size: 31px;
	}
	#global .banner .container .container-left .title,
	#global .banner .container .container-right .title{
		font-size: 30px;
	}
	#global .banner .container .container-right p {
	    padding: 0 20px;
	}
	@media only screen and (max-width: 767px){
		.banner .container-min p {
	    	font-size: 18px !important;
	   }
	   .form h2{
			font-size: 24px;
		}
	   	.sub-header,
		.sub-header strong{
			font-size: 13px;
			font-family: "ReaderBold", Helvetica, sans-serif;
		}
		.banner .copy, .banner .copy sup{
			font-size: 8px;
		}
	}
}