*{
  padding: 0;
  margin: 0;
  font-family:'Reader', Helvetica, sans-serif;
  color:#333
}
html,
body{
  background: #E9EAEE;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;;
}
@font-face{
		font-family:"Reader";
		src:url("../fonts/reader-regular.eot");
		src:url("../fonts/reader-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/reader-regular.woff") format("woff"),
		url("../fonts/reader-regular.ttf") format("truetype"),
		url("../fonts/reader-regular.svg#Reader") format("svg");
		font-weight:normal;
		font-style:normal
}
@font-face{
	font-family:"ReaderBold";
	src:url("../fonts/reader-bold.eot");
	src:url("../fonts/reader-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/reader-bold.woff") format("woff"),
	url("../fonts/reader-bold.ttf") format("truetype"),
	url("../fonts/reader-bold.svg#Reader") format("svg");
	font-weight:bold;
	font-style:normal
}
a:hover{
	transition: color 300ms linear;
}
.container{
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.uppercase{
	text-transform: uppercase;
}
.mobile-only{
	display: none;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.underline{
	text-decoration: underline;
	cursor: pointer;
}
footer{
    float: left;
    width: 100%;
}
#global{
	width: 100%;

	header,
	.sub-header,
	.banner,
	.sub-banner,
	.step,
	.main-content,
	.step,
	.journey,
	.bg-grey-sep,
	.form,
	.how-it-works,
	.form .blocks,
	.find-store,
	.thanks,
	footer{
	    float: left;
	    width: 100%;
	}
	.main-content{
		background: url(../images/bg-main.jpg) no-repeat scroll center top / cover ;
		position: relative;
	}
	.overlay{
		background: rgba(0,0,0,0.5);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		display: none;
	}
	.popup{
		display: none;
		background: #fff;
		max-width: 500px;
		padding: 25px 35px;
		box-sizing: border-box;
		position: fixed;
		left: 50%;
		margin-left: -250px;
		top: 100px;
		z-index: 21;
		text-align: center;
		span{
			font-family: "Reader", Helvetica, sans-serif;
			font-size: 15px;
			display: block;
			margin: 10px 0;
			text-align: left;
		}
		&.popcompare{
			left: 50%;
		    margin-left: -355px;
		    max-width: 710px;
		    position: absolute;
		    top: 900px;
		    width: 710px;
			img{
			  	width: 100%;
			}
		}
		.close{
			background: #ddd none repeat scroll 0 0;
		    color: #000;
		    cursor: pointer;
		    display: block;
		    height: 20px;
		    line-height: 16px;
		    position: absolute;
		    right: 12px;
		    text-align: center;
		    top: 10px;
		    width: 20px;
		    margin-top: 0;
		    &:hover{
		    	background: #ccc;
		    }

		}
	}

}
