header{
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  
    .container{
      position: relative;
      padding: 44px 0;
    } 

    .logo{
        display: inline-block;
        text-indent: -9999px;
        height: 21px;
        width: 125px;
        margin-right: 72px;
        background: url(../images/keurig-logo.png) 0 0 no-repeat transparent;
      }
      .bold{
        font-family: "ReaderBold", Helvetica, sans-serif;
        font-size: 15px;
        text-decoration: underline;
        text-transform: uppercase;
      }
      .bold:hover{
        text-decoration: none;
      }

      nav{
        float: right;
          li {
              list-style: none;
              display: inline-block;
              a{
                color:#767676;
                font-family: "Reader", Helvetica, sans-serif;
                font-size: 16px;
                display: inline-block;
                margin: 0 15px;
                padding: 0;
                transition: color 300ms linear;
              }
              a:hover{
                color: #feb100;
                text-decoration: none;
              }
          }
      }
      .language-selector{
          border: 1px solid #d8dbdf;
          position: absolute;
          right: 1px;
          top: 0;
          width: 163px;
          padding: 0 15px;
          margin: 0;
          text-align: center;
          height: 23px;
          font-family: "Reader", Helvetica, sans-serif;
          font-size: 12px;
          color: #000;
            
            a{
              position: relative;
              line-height: 23px;
              padding-right: 5px;
              transition: color 200ms linear;
            }
            a:hover{
              color: #ffaf03;
              text-decoration: none;
            }
            a:before {
              border: medium solid transparent;
              content: " ";
              height: 0;
              left: 100%;
              pointer-events: none;
              position: absolute;
              top: 8px;
              width: 0;
              border-color: rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) #ffaf03;
              border-width: 5px;
              margin-top: -5px;
            }
            a:after{
              border: medium solid transparent;
              content: " ";
              height: 0;
              left: 100%;
              pointer-events: none;
              position: absolute;
              top: 8px;
              width: 0;
              border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ffffff;
              border-width: 2px;
              margin-top: -2px;
            }
            
        }
}
/*
  SUB HEADER
*/
.sub-header{
  background: #feb100;
  font-family: "Reader", Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 10px 0;
}
.sub-header strong{
  font-family: "ReaderBold", Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}