.how-it-works{
	background: #f1f1f1 url("../images/bg-thanks.jpg") no-repeat scroll center top / 100% auto;
	.journey{
		height: auto;
		text-align: center;
		padding-bottom: 35px;
		margin-bottom: 0;
		.block{
			sup{
				color: #fff;
				font-size: 10px;
			}
			&.two {
			    padding-left: 28px;
			    padding-right: 21px;
			    width: 15%;
			}
			&.three {
			    width: 28%;
			}
			&.first {
			    padding-right: 32px;
			    width: 19%;
			}
		}
		.tick{
			background: transparent url("../images/tick-yellow.png") no-repeat scroll 0 2px;
		    display: inline-block;
		    font-family: "ReaderBold";
		    font-size: 24px;
		    padding-left: 48px;
		    color: #fff;
		    position: relative;
		    text-transform: uppercase;

		}
	}
}

.form{
	// background: url(../images/bg-form.jpg) top center no-repeat #f1f1f1;
	h2{
		border-bottom: 1px solid #d8dbdf;
	    font-size: 36px;
	    font-weight: normal;
	    line-height: 36px;
	    margin: 0 auto 30px;
	    padding: 0 30px 20px;
	    text-align: center;
	    width: 70%;
	    box-sizing: border-box;
	}
	form{
		background: #f1f1f1 none repeat scroll 0 0;
	    box-sizing: border-box;
	    display: inline-block;
	    padding: 50px;
	    margin: 0 auto;
	    width: 760px;
	    margin-bottom: 45px;
	    text-align: left;
	    #error-container{
		    float: none;
		    margin: 10px auto 0;
		    overflow: hidden;
		    position: relative;
		    p {
			    background: #ee0010 none repeat scroll 0 0;
			    color: #fff;
			    float: none;
			    margin: 0;
			    font-size: 14px;
			    padding: 12px 20px;
			    text-align: center;
			}
		}
		.col{
			width: 45%;
			&.full{
				width: 100%;
			}
			.legal {
			    display: inline-block;
			    font-size: 13px;
			    line-height: 14px;
			    margin-top: 12px;
			}
			.info {
			    display: block;
			    margin-top: 41px;
			}
			.checkbox a{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
			.field{
				&.invalid input,
				&.invalid input + .label,
				&.invalid.select select
				{
					color: #ee0010 !important;
					border-color: #ee0010 !important;
				}

				&.invalid a {
					color: #c00;
				}

				label{

					span.label{
						font-size: 15px;
						display: block;
						margin-bottom: 5px;
	    				margin-top: 15px;
					}
					input[type="text"],
					input[type="email"],
					select{
						background: #fff none repeat scroll 0 0;
					    border: 1px solid #d8dbdf;
					    border-radius: 20px;
					    box-sizing: border-box;
					    color: #575757;
					    font-size: 13px;
					    height: 29px;
					    padding: 0 10px;
					    width: 100%;
					}
				}
				&.select select {
				    background: #fff none repeat scroll 0 0;
				    border: 1px solid #d8dbdf;
				    border-radius: 20px;
				    box-sizing: border-box;
				    color: #575757;
				    font-size: 13px;
				    height: 29px;
				    padding: 0 10px;
				    width: 100%;
				    outline:none;
				    display: inline-block;
				    -webkit-appearance:none;
				    -moz-appearance:none;
				    appearance:none;
				    cursor:pointer;
				}

				/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
				@media screen and (-webkit-min-device-pixel-ratio:0) {
				    &.select select {padding-right:18px}
				}

				&.select{position:relative}
				&.select label:after {
				    content:'';
				    right: 12px;
   					top: 38px;
				    padding:0 0 2px;
					width: 12px;
					height: 6px;
					position:absolute;
				    pointer-events:none;
				    background: url(../images/arrow-select.gif) 0 0 no-repeat transparent;
				}
				&.select option{
					padding-left:10px;
				}
				/*Checkbox*/
				input[type=checkbox] {
				    position: absolute;
				    overflow: hidden;
				    clip: rect(0 0 0 0);
				    height:1px;
				    width:1px;
				    margin:-1px;
				    padding:0;
				    border:0;
				}
				input[type=checkbox] + label,
				input[type=checkbox] + .label {
					background-position: left 4px;
				   	background-repeat: no-repeat;
				   	cursor: pointer;
				   	display: inline-block;
				   	margin-bottom: 8px;
				   	padding-bottom: 1px;
				   	padding-top: 1px;
				   	padding-left: 26px;
				   	letter-spacing: 0.2px;
				   	vertical-align: middle;
				}
				input[type=checkbox]:checked + label,
				input[type=checkbox]:checked + .label {
				    background-image:url(../images/checkbox-ok.gif);
				}
				input[type=checkbox] + label,
				input[type=checkbox] + .label{
				    background-image:url(../images/checkbox.gif);
				}

				&#other-purchased-from {
					display: none;

					&.show {
						display: block
					}
				}

			}

			button.button{
				background: #ffaf01 none repeat scroll 0 0;
			    border: 1px solid #db9623;
			    color: #fff;
			    display: block;
			    float: none;
			    font-family: "ReaderBold",Helvetica,sans-serif;
			    font-size: 15px;
			    height: 45px;
			    margin: 20px auto;
			    max-width: 100%;
			    text-align: center;
			    text-transform: uppercase;
			    width: 273px;
			    cursor: pointer;

			    &:hover{
					background:#db9623;
					transition: background 300ms linear;
				}
			}

		}
	}
	.blocks{
		margin-top: 10px;
		.block{
			background: #fff none repeat scroll 0 0;
		    float: left;
		    margin: 10px 0.5%;
		    text-align: center;
		    width: 49%;
		    padding: 22px 0;
			h3{
				background-position: center top;
			    background-repeat: no-repeat;
			    font-size: 35px;
			    font-weight: normal;
			    line-height: 35px;
			    padding-bottom: 10px;
			    padding-top: 45px;
			}
			&.faq{
				h3{
					background-image: url(../images/picto-faq.png);
				}
			}
			&.git{
				h3{
					background-image: url(../images/picto-git.png);
				}
			}
			span{
				font-size: 20px;
				display: block;
			}
			a.btn{
                font-family: "ReaderBold", Helvetica, sans-serif;
                font-size: 14px;
                line-height: 14px;
                color: #fff;
                padding: 10px 22px;
                display: inline-block;
                text-transform: uppercase;
                text-decoration: none;
                background: #ffb200;
                margin: 12px 0;
                transition: background 300ms ease;
            }
            a.btn:hover{
                background: #000;
            }
		}
	}
}