.sub-banner{

  // background: transparent url("../images/banner-form.jpg") no-repeat scroll center top ;

	.container{
 		p{
 		padding:74px 0 47px;
			span{
				color: #000;
			    display: block;
			    font-family: "Reader",Helvetica,sans-serif;
			    font-size: 36px;
			    line-height: 43px;
				sup{
					font-size: 16px;
				}
	 		}
 		}
	 }
}