.step{

  background: #f1f1f1;
  padding: 42px 0;
  text-align: center;

        .circle{
          background: #000 none repeat scroll 0 0;
          border-radius: 50px;
          color: #fff;
          display: inline-block;
          float: none;
          height: 64px;
          margin: 0 20px 0 0;
          text-align: center;
          text-transform: uppercase;
          width: 64px;
            span{
              display: block;
              color: #fff;
              font-size: 13px;
              line-height: 14px;
              margin-top: 18px;
            }
            .num{
              font-size: 26px;
              line-height: 26px;
              margin-top: 0;
            }
        }


  .title{
    color: #000;
    font-family: "Reader", Helvetica, sans-serif;
    font-size: 36px;
    position: relative;
    top: -12px;
      sup{
        font-size: 20px;
      }
  }

}