.journey{
	height: 170px;
	columns: #fff;

	&.black{
		background: #000;
		.block{
			width: 25%;
			&:after{
			 	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;
			}
			&.last:after,
			&.last:before{
				display: none;
			}
			&.first{
				padding-left: 0;
    			padding-right: 18px;
    			width: 20%;
			}
			&.two {
			    padding-left: 30px;
			    padding-right: 15px;
			}
		}

	}
	&.grey{
		background: #444444;
		margin-bottom: 90px;

		 .yellow span{
		 	padding: 0 17px;
		 }
		 .block{
			width: 19%;
			padding-left: 52px;
    		padding-right: 30px;

			&:after{
			 	border-color: rgba(68, 68, 68, 0) rgba(68, 68, 68, 0) rgba(68, 68, 68, 0) #444;
			}

			&.last:after,
			&.last:before{
				display: none;
			}
		}

	}

	.yellow{
		background: #feb100;
		height: 205px;
		width: 205px;
		padding: 0 20px;
		box-sizing: border-box;
		position: relative;
		top: -17px;
		float: left;
		text-align: center;
		color: #fff;
		margin-right: 27px;
		span{
			position: relative;
			top: 50%;
			color: #fff;
			transform: translateY(-50%);
			display: block;
			font-family: "ReaderBold", Helvetica, sans-serif;
			font-size: 21px;
			letter-spacing: 0.7px;
			text-transform: uppercase;
		}
	}
	.block{
		float: left;
		// max-width: 200px;
		height: 170px;
		position: relative;
		padding-left: 60px;
		padding-right: 50px;
		box-sizing: border-box;
			p{
				position: relative;
				top: 50%;
				color: #fff;
				transform: translateY(-50%);
				display: block;
				font-family: "Reader", Helvetica, sans-serif;
				font-size: 18px;
				text-align: center;
					sup{
						color: #fff;
						font-size: 11px;
					}
					a{
						color: #feb100;
						text-decoration: underline;
						font-family: "ReaderBold", Helvetica, sans-serif;
					}
			}

            &:before {
              border: medium solid transparent;
              content: " ";
              height: 0;
              left: 100%;
              pointer-events: none;
              position: absolute;
              top: 70px;
              width: 0;
              border-color: rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) rgba(255, 175, 3, 0) #ffaf03;
              border-width: 17px;
              margin-top: -5px;
            }
            &:after{
              border: medium solid transparent;
              content: " ";
              height: 0;
              left: 100%;
              pointer-events: none;
              position: absolute;
              top: 70px;
              width: 0;
              border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ffffff;
              border-width: 14px;
              margin-top: -2px;
              margin-left: -3px;
            }
            &.first{
				padding-left: 0;
            }
            &.last{
            	padding-right: 0;
            }
	}
}
.bg-grey-sep{
	height: 105px;
	background: #f1f1f1;
	text-align: center;
	span{
		font-family: "ReaderBold";
		font-size: 24px;
		text-transform: uppercase;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		padding-left: 48px;
		background: url(../images/tick-yellow.png) 0 2px no-repeat transparent;
	}

}
