
.offer{
  width: 100%;
  border-top: 44px solid #444444;
  background: #fff;
  float: left;
  position: relative;
    .compare{
          background: #ffb200 none repeat scroll 0 0;
          display: inline-block;
          height: 60px;
          line-height: 60px;
          padding: 0 24px;
          position: absolute;
          right: -255px;
          bottom: 100%;
          transform: translateY(-50%) rotate(90deg);
          z-index: 2;
          width: 405px;
          text-align: center;
          cursor:pointer;
          &:hover{
            background: #000;
            // transition: all 300ms ease;
            border-color: rgba(0, 0, 0, 0) #000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
          }
          span{
            color: #fff;
            font-size: 20px;
            font-family: "ReaderBold", Helvetica, sans-serif;
            text-transform: uppercase;
            text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
          }

          &:before {
              border: medium solid transparent;
              content: " ";
              height: 0;
              left: 0%;
              pointer-events: none;
              position: absolute;
              top: 64px;
              width: 0;
              border-color: rgba(255, 175, 3, 0) #ffaf03 rgba(255, 175, 3, 0) rgba(255, 175, 3, 0);
              border-width: 17px;
              margin-top: -5px;
              transform: rotate(-90deg);
              transition: background 300ms ease;
            }
            &:after{
              border: medium solid transparent;
              content: " ";
              height: 0;
              left: 100%;
              pointer-events: none;
              position: absolute;
              top: 64px;
              width: 0;
              transform: rotate(-90deg);
              border-color: rgba(255, 175, 3, 0) #ffaf03 rgba(255, 175, 3, 0) rgba(255, 175, 3, 0);
              border-width: 17px;
              margin-top: -5px;
              margin-left: -35px;
              transition: background 300ms ease;
            }
            &:hover:before,
            &:hover:after{
              border-color: rgba(0, 0, 0, 0) #000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            }
      }

    .infos{
      float: left;
      width: 50%;
      padding-left: 64px;
      padding-right: 27px;
      box-sizing: border-box;

        .deco{
          display: block;
          height: 87px;
          width: 87px;
          border-radius: 50px;
          margin: -34px auto 21px auto;
        }
        h2{
          font-weight: normal;
          font-family: "Reader", Helvetica, sans-serif;
          font-size: 19px;
          text-transform: uppercase;
          border-bottom: 3px solid #000;
          padding-bottom: 6px;
          margin-bottom: 30px;
        }
        .big{
          font-size: 45px;
          font-family: "ReaderBold", Helvetica, sans-serif;
          text-transform: uppercase;
            sup{
              font-size: 30px;
            }
            strong{
              font-family: "ReaderBold", Helvetica, sans-serif;
              font-size: 70px;
            }
            span{
              font-size: 23px;
              font-family: "ReaderBold", Helvetica, sans-serif;
              display: block;
              margin-top: -14px;
              text-transform: none;
                sup{
                  font-size: 15px;
                  }
            }
        }
        p{
          margin-top: 21px;
          line-height: 24px;
          font-size: 20px;
        }

    }

    .products{
      text-align: center;
      float: left;
      width: 50%;

        .product {
          box-sizing: border-box;
          float: left;
          padding: 0 30px;
          width: 50%;
          position: relative;
          top: -44px;

                a,
                span{
                  display: block;
                }
                .title{
                  color: #fff;
                  display: inline-block;
                  font-family: "ReaderBold", Helvetica, sans-serif;
                  font-size: 20px;
                  height: 44px;
                  line-height: 44px;
                  margin-bottom: 12px;
                }
                .desc{
                  color: #000;
                  display: block;
                  font-family: "Reader", Helvetica, sans-serif;
                  font-size: 19px;
                  line-height: 18px;
                  margin: 20px auto;
                  text-align: center;
                  width: 80%;
                }
                img{
                  max-height: 207px;
                }
                .price{
                  font-family: "ReaderBold", Helvetica, sans-serif;
                  font-size: 18px;
                  line-height: 18px;
                  color: #000;
                  margin: 10px 0;
                }
                .options{
                  display: block;
                  width: 100%;
                  height: 14px;
                  text-align: center;
                  margin: 10px 0;
                }


                    .brewerImgContainer {
                      display: inline-block;
                      height: 208px;
                      overflow: hidden;
                      position: relative;
                      width: 113px;
                        img {
                            height: 208px;
                            left: 150px;
                            position: absolute;
                            top: 0;
                            transition: all 0.25s ease-in-out 0s;
                            width: 113px;
                        }
                        .activeBrewer {
                          left: 0;
                          transition: all 0.25s ease-in-out 0s;
                      }
                    }
                    .colorSelect {
                        min-height: 13px;
                        line-height: 13px;
                        margin: 7px 0;

                      span {
                            border: 1px solid #b7b7b7;
                            border-radius: 50%;
                            display: inline-block;
                            height: 13px;
                            width: 13px;
                            cursor: pointer;
                            &.k200violet {
                                background: #7e3f8c none repeat scroll 0 0;
                            }
                            &.k200pearl {
                                background: #ccc9c2 none repeat scroll 0 0;
                            }
                            &.k200white {
                                background: #ffffff none repeat scroll 0 0;
                            }
                            &.k200black {
                                background: #000000 none repeat scroll 0 0;
                            }
                            &.k200turquoise {
                                background: #55afb3 none repeat scroll 0 0;
                            }
                            &.k200red {
                                background: #ac514f none repeat scroll 0 0;
                            }
                            &.k200orange {
                                background: #dd7d3d none repeat scroll 0 0;
                            }
                            &.k400white {
                                background: #ffffff none repeat scroll 0 0;
                            }
                            &.k400black {
                                background: #000000 none repeat scroll 0 0;
                            }
                            &.k400red {
                                background: #772337 none repeat scroll 0 0;
                            }

                        }
                      }





                a{
                  font-family: "ReaderBold", Helvetica, sans-serif;
                  font-size: 14px;
                  line-height: 14px;
                  color: #000;
                  padding: 0;
                  text-decoration: underline;
                }
                a:hover{
                  text-decoration: none;
                }
                a.btn{
                  font-family: "ReaderBold", Helvetica, sans-serif;
                  font-size: 14px;
                  line-height: 14px;
                  color: #fff;
                  padding: 10px 22px;
                  display: inline-block;
                  text-transform: uppercase;
                  text-decoration: none;
                  background: #ffb200;
                  margin: 12px 0;
                  transition: background 300ms ease;
                }
                a.btn:hover{
                  background: #000;
                }
                a.cta {
                  text-transform: uppercase;
                  font-size: 16px;
                  line-height: 16px;
                }
      }

    }

}
.offer2 .products .product .brewerImgContainer{
  width:146px ;
  height:207px ;
     img{
        width:146px ;
        height: 207px;
     }
}
.offer.offer1 .deco{
  background: url(../images/deco-offer1.png) center center no-repeat #168044;
}
.offer.offer2 .deco{
  background: url(../images/deco-offer2.png) center center no-repeat #d1222f;
}
