.banner{
  background: transparent url("../images/banner.jpg") no-repeat scroll center top / cover ;
  min-height: 400px;
  position: relative;
	.container{
		position: relative;
	 		.circle{
	 			background: #000 none repeat scroll 0 0;
			    border-radius: 100px;
			    box-sizing: border-box;
			    height: 185px;
			    padding: 20px 38px;
			    position: absolute;
			    right: 0;
			    text-align: center;
			    top: -22px;
			    width: 185px;
	 				span{
						font-family: "Reader", Helvetica, sans-serif;
						font-size: 17px;
						line-height: 19px;
						display: inline-block;
						border-bottom: 1px solid #fff;
						color: #fff;
						margin-bottom: 10px;
    					padding-bottom: 8px;
	 				}
	 				.bold{
						text-transform: uppercase;
						color: #fff;
						display: inline;
						text-decoration: none;
						border: none;
						font-family: "ReaderBold", Helvetica, sans-serif;
	 				}
	 				a{
	 					text-transform: uppercase;
	 					color: #feb100;
	 					text-decoration: underline;
	 					font-size: 24px;
	 					font-family: "ReaderBold", Helvetica, sans-serif;
	 					display: block;

	 					&:hover{
	 						text-decoration: none;
	 					}
	 				}

	 		}

			.container-left,
			.container-right{
				border-right: 5px solid rgba(255, 255, 255, 0.75);
			    box-sizing: border-box;
			    float: left;
			    margin: 0 auto;
			    min-height: 370px;
			    padding: 55px 45px 20px 45px;
			    width: 50%;

			 		.head{
						border-bottom: 1px solid rgba(230, 230, 230, 0.3);
					 	margin-bottom: 10px;
		    			padding: 0 5px 5px;
					}
					.head, .head sup{
					  	color: #fff;
					    font-family: "Reader", Helvetica, sans-serif;
					    font-size: 22px;
					    display: block;
					    text-shadow: 2px 2px 3px #444;
					}
					.head sup{
					 	display: inline;
					 	font-size: 13px;
					}
					.title{
						font-family: "ReaderBold", Helvetica, sans-serif;
						font-size: 40px;
						color: #fff;
						margin-bottom: 15px;
						display:block;
						span{
							font-size: 66px;
							line-height: 52px;
							font-family: "ReaderBold", Helvetica, sans-serif;
							color: #fff;
							display: block;
						}
					}
					p{
					  	color: #fff;
					    font-family: "Reader", Helvetica, sans-serif;
					    font-size: 22px;
					    line-height: 22px;
					    text-transform: uppercase;
					    text-shadow: 2px 2px 3px #444;
					    min-height: 70px;
					    span{
					    	color: #fff;
						    display: inline-block;
						    font-family: "ReaderBold",Helvetica,sans-serif;
						    font-size: 44px;
						    margin-top: -15px;
						    position: relative;
						    top: 15px;
					    	sup{
						    	color: #fff;
						    	font-size: 22px;
						    	text-shadow: 2px 2px 3px #444;
						    }
					    }
					    sup{
					    	color: #fff;
					    	font-size: 12px;
					    	text-shadow: 2px 2px 3px #444;
					    }
					}
					.btn{
						display: inline-block;
						background: #ffb200;
						padding: 13px 24px;
						margin-top: 33px;
						font-family: "ReaderBold", Helvetica, sans-serif;
						font-size: 19px;
						color: #fff;

						&:hover{
							background: #000;
							text-decoration: none;
							transition: background 300ms ease 0s;
						}
					}
			}
			.container-right{
				border-right: 0;
				p {
				    padding: 0 40px;
				}
			}

	}
	.copy {
		bottom: 4px;
		left: 0;
		margin-left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		text-transform: uppercase;
	}
	.copy,
	.copy sup{
	  	color: #fff;
	    font-family: "Reader", Helvetica, sans-serif;
	    font-size: 10px;
	}
	.copy sup{
		font-size: 6px;
	}
}
