@media only screen and (max-width: 1300px){
	footer ul{
		width: 30%;
	}
}
@media only screen and (max-width: 1200px){
	/*
		OFFERS
	*/
	.offer.offer2 {
    	// margin-bottom: 60px;
	}
    .offer .compare {
    	display: none;
	    bottom: -60px;
	    left: 0;
	    right: 0;
	    transform: none;
	    text-align: center;
	    padding: 0;
	    width: 100%;
	    &:before,
	    &:after{
	    	display: none;
	    }
	}
}
@media only screen and (max-width: 1070px){
	/*
		GENERAL
	*/
	.container{
		padding-left: 30px !important;
		padding-right: 30px !important;
		box-sizing: border-box;
	}
	/*
		BANNER
	*/
	.banner .container .circle{
		right: 20px;
	}
	#global .banner {
		.container{
			.title{
				font-size: 35px;
				span{
					font-size: 55px;
				}
			}
			p{
				font-size: 19px;
				line-height: 19px;
				span{
					font-size: 31px;
					top:8px;
				}
			}
		}

	}
	/*
		JOURNEY
	*/
	#global .journey{
		height: auto;

		.block{
			width: 100%;
			height: auto;
			padding: 0;
			p{
				transform: none;
				top: 0;
				padding: 20px 0;
			}
			&:before{
				left: 50%;
				margin-left: -16px;
				transform: rotate(90deg);
				top: auto;
				bottom: -26px;
			}
			&:after{
				left: 50%;
			    margin-left: -13px;
			    transform: rotate(90deg);
			    top: auto;
			    bottom: -17px;
			}
		}
		.yellow {
		    color: #feb100;
		    background: none;
		    height: auto;
		    margin-right: 0;
		    padding: 20px;
		    position: relative;
		    text-align: center;
		    top: 0;
		    width: 100%;
		    span {
			    color: #feb100;
			    display: block;
			    font-family: "ReaderBold",Helvetica,sans-serif;
			    font-size: 21px;
			    letter-spacing: 0.7px;
			    position: relative;
			    text-transform: uppercase;
			    top: 0;
			    transform: none;
			}
		}
	}
	.bg-grey-sep {
	    box-sizing: border-box;
	    padding: 0 20px;
	}
	/*
		FORM
	*/
	.form .blocks .block {
	    margin: 0 0 10px;
	    width: 100%;
	}

}
@media only screen and (max-width: 992px){
	/*
		HEADER
	*/
	header .logo{
		margin-right: 30px;
	}
	/*
		OFFERS
	*/
	.offer .infos{
		width: 40%;
	}
	.offer .products{
		width: 60%;
	}

}
@media only screen and (max-width: 810px){
	header nav li a{
		margin-top: 0 10px;
	}
	/*
		FORM
	*/
	#global .form{
		.container{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		form{
			margin-bottom: 0;
			width: 100%;
			position: static;
			transform: none;
			padding: 40px 30px;
			background: none;

			.col {
			    float: left;
			    width: 100%;
				.field{
					input[type="text"],
					input[type="email"],
					select{
					    width: 100%;
					}
					&.select label:after {
					    right: 14px;
	   					top: 38px;
	   				}
				}
			}
		}
		.blocks{
			.block{
				padding: 22px;
				box-sizing: border-box;
			}
		}
	}
}
@media only screen and (max-width: 767px){
	/*
		DISPLAY NONE
	*/
	.desktop-only,
	.banner .container .circle,
	.banner .container-min .arrow,
	.language-selector{
		display: none;
	}
	/*
		DISPLAY BLOCK
	*/
	.mobile-only{
		display: block;
	}
	/*
		HEADER
	*/
	header .container{
		padding: 25px 0;

		.main-menu.mobile-only{
			#btn-menu{
				background: url(../images/btn-menu-mobile.jpg) 0 0 no-repeat transparent;
				display: block;
				width: 24px;
				height: 18px;
				background-size: 100% auto;
				cursor: pointer;
				margin-top: 3px;
			}
			ul{
				display: none;
				background: #f1f1f1 none repeat scroll 0 0;
			    float: left;
			    height: auto;
			    left: 0;
			    padding: 20px;
			    position: absolute;
			    top: 74px;
			    width: 100%;
			    z-index: 2;
			    box-sizing: border-box;
			     box-shadow: 0 11px 14px -9px #949494;
			    li{
			    	display: inline-block;
				    list-style: outside none none;
				    margin: 7px 0;
				    width: 100%;
			    }
			}

		}
	}
	.sub-header{
		padding: 10px;
		box-sizing: border-box;
	}
	.sub-header,
	.sub-header strong{
		font-size: 13px;
		font-family: "ReaderBold", Helvetica, sans-serif;
	}
	.sub-header strong{
		margin-right: 5px;
	}
	.language-selector.mobile-only {
	    border: medium none;
	    height: 23px;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    right: 74px;
	    text-align: center;
	    top: 25px;
	    width: auto;

	    	a{
	    		color: #000;
			    font-family: "ReaderBold",Helvetica,sans-serif;
			    font-size: 12px;
			    text-transform: uppercase;
			    text-decoration: underline;

			    &:before,
			    &:after{
			    	display: none;
			    }
	    	}
	}
	/*
		BANNER
	*/
	.banner{
		max-height: 260px;
		.container {
		    display: block;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		}
		.container-min{
			min-width: 0;
			width: 50%;
			padding-top: 0;
				p{
					font-size: 26px;
				}
				.head,
				.head sup{
					font-size: 15px;
				}
		}
		.copy {
			background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		    bottom: 0 !important;
		    box-sizing: border-box;
		    font-size: 8px;
		    left: 0;
		    margin-bottom: 0;
		    margin-left: 0 !important;
		    padding: 2px 10px;
		    position: absolute;
		    width: 100% !important;
		}
	}
	#global .banner {
		max-height: 100%;
    	min-height: 0;
    	background-position: 30% top;
    	padding-bottom:30px;
		.container{
			position:static;
			.container-left,
			.container-right {
			    border-right: medium none;
			    border-bottom:5px solid rgba(255, 255, 255, 0.75);
			    min-height: 0;
			    padding: 20px 30px;
			    width: 100%;
			}
			.container-right{
				border-bottom: none;
				 p {
				    padding: 0;
				}
			}
			.title{
				font-size: 24px;
				span{
					font-size: 40px;
					line-height: 40px;
				}
			}
			p{
				font-size: 16px;
				line-height: 19px;
				span {
				    font-size: 26px;
				    margin-top: -18px;
				    position: relative;
				    top: 5px;
				    sup {
					    font-size: 11px;
					}
				}
			}
			.btn {
			    font-size: 14px;
			    margin-top: 15px;
			}
		}

	}

	/*
		OFFERS
	*/
	.main-content > .container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.offer{
		padding-bottom: 25px;
		border-top: 33px solid #444444;
		.compare{
			span{
				font-size: 16px;
			}
		}
		.infos{
			width: 100%;
			padding-left: 25px;
			padding-right: 25px;
			h2{
				font-size: 14px;
				border-bottom: 2px solid #000;
				margin-bottom: 5px;
			}
			 p {
			    font-size: 15px;
			    line-height: 18px;
			    margin-bottom: 20px;
			    margin-top: 2px;
			}
			.big{
				font-size: 33px;
				sup{
					font-size: 22px;
				}
				strong{
					font-size: 56px;
				}
				span{
					font-size: 18px;
					margin-top: -15px;
						sup{
							font-size: 12px;
						}
				}
			}

			.deco {
			    background-size: 50px auto !important;
			    border-radius: 50px;
			    display: block;
			    height: 65px;
			    margin: -24px auto 8px;
			    width: 65px;
			}
		}
	}
	.offer .products{
		width: 100%;
		.product{
			top: 0;

			img{
				max-width: 100%;
				max-height: 155px;
			}
			.title{
				color: #000;
				margin-bottom: 0;
				height: 30px;
				line-height: 35px;
			}
			.desc {
			    font-size: 14px;
			    line-height: 14px;
			    margin: 5px auto 15px;
			    height: 30px;
			}
			a{
				font-size: 13px;
			}
			a.btn{
				display: inline-block;
			}
			.price{
				font-size: 14px;
			    margin: 0;
			}
			.options{
				margin: 0 0 20px 0;
				height: 10px;
				img {
				    max-height: 100%;
				}
			}
		}
	}
	.offer.offer1 .products .product .brewerImgContainer .activeBrewer,
	.offer.offer2 .products .product .brewerImgContainer .activeBrewer {
	    left: 15px;
	}
	.offer.offer1 .products .product .brewerImgContainer {
	    height: 155px;
	    width: 113px;
	    img {
		    margin: 0 auto !important;
		    max-height: 155px;
		    max-width: 100%;
		    text-align: center;
		    width: auto !important;
		}
	}
	.offer.offer2 .products .product .brewerImgContainer {
	    height: 155px;
	    width: 140px;
	    img {
		    height: 207px;
		    width: auto;
		}
	}
	/*
		STEPS
	*/
	.step{
		padding: 23px 0;
		.title{
			font-size: 23px;
		}
	}
	/*
		JOURNEY
	*/
	.journey.grey{
		margin-bottom: 0;
	}
	.bg-grey-sep {
	    background: #fff none repeat scroll 0 0;
	    height: 60px;
	    text-align: center;
	    span{
	    	background: transparent url("../images/tick-yellow.png") no-repeat scroll 0 2px / 28px auto;
		    display: inline-block;
		    font-size: 14px;
		    height: 26px;
		    padding-left: 38px;
		    padding-top: 4px;
	    }
	}
	#global .journey{

		.yellow{
			padding: 20px 0 0;

			span{
				font-size: 16px;
				line-height: 20px;
			}
		}
		.block {

			p {
			    font-size: 15px;
			    font-weight: normal;
			    line-height: 17px;
			    padding: 20px 0;
			    top: 0;
			    transform: none;
			}
		}
	}
	/*
		FORM
	*/
	.form {
		background: #f1f1f1;
		h2 {
		    border-bottom: 1px solid #d8dbdf;
		    box-sizing: border-box;
		    font-size: 24px;
		    font-weight: normal;
		    line-height: 26px;
		    margin: 0 auto 30px;
		    padding: 0 10px 20px;
		    text-align: center;
		    width: 95%;
		}
	    .blocks{
	    	.block{
	    		h3{
	    			font-size: 25px;
	    			line-height: 25px;
	    		}
	    		span{
	    			font-size: 15px;
	    		}
	    		a.btn{
	    			font-size: 12px;
	    			width: 200px;
	    			max-width: 100%;
	    			box-sizing: border-box;
	    		}
	    	}
	    }
	}
	.how-it-works {
		background: #f1f1f1 url("../images/bg-main.jpg") no-repeat scroll center top / 100% auto;
		.sub-banner .container p {
		    padding: 50px 0;
		    span {
			    font-size: 26px;
			    line-height: 31px;
			    	sup{
			    		font-size: 12px;
			    	}
			}
		}
		.journey .tick{
		  	background: transparent url("../images/tick-yellow.png") no-repeat scroll 0 2px / 28px auto;
		    display: inline-block;
		    font-size: 14px;
		    height: 26px;
		    padding-left: 38px;
		    padding-top: 4px;
		    margin-top: 13px;
		}
	}
	/*
		FIND STORE
	*/
	.find-store{
		.container{
			ul{
				li{
					width: 100%;
				}
			}
		}
	}
	/*
		FOOTER
	*/
	footer{
		padding: 30px 0 30px;
		background: #fff;
		ul{
			width: 100%;
			padding-bottom: 0px;
			padding-top: 0px;
			lh{
				padding-bottom: 30px;
			}
		}
		.copy {
		    font-size: 13px;
		    padding: 15px 25px;
		    text-align: left;
		    margin-top: 30px;
		}
	}
	/*
		THANKS
	*/
	.thanks{
		background: #fbfbfb;
		padding: 30px 0;
		.inside{
			background: none;
			padding: 30px 0px;

			h1{
				font-size: 21px;
				line-height: 21px;
			}
			span{
				font-size: 13px;
			}
		}
	}
	/*
		POPUP
	*/
	#global .popup{
	    margin-left: -45%;
	    max-width: 90%;
	    top: 20px;
	}
}
@media only screen and (max-width: 460px){
	/*
		BANNER
	*/
	.banner{
		.container{
			transform: translateY(-56%);
		}
		min-height: 200px;
		.container-min{
			width: 100%;
		}
	}
	/*
		OFFERS
	*/
	.offer .products .product{

	}
	/*
		STEP
	*/
	#discover .container {
	    padding-left: 20px !important;
	    padding-right: 20px !important;
	}
	.step{

		.circle{
			float: left;
			margin-right: 15px;
		}
		.title {
		    line-height: 25px;
		    position: relative;
		    top: 8px;
		}
	}
}
@media only screen and (max-width: 380px){
	.offer .products .product a.btn{
		width: 100%;
		padding: 10px 0;
	}
}

@media only screen and (max-width: 340px){
	.offer .products .product img {
	    max-height: 115px;
	    max-width: 100%;
	}
	.offer .products .product .desc{
		height: 43px;
	}
	.offer.offer1 .products .product .brewerImgContainer {
	    height: 115px;
	    width: 113px;
	}
	.offer.offer2 .products .product .brewerImgContainer {
	    height: 115px;
	    width: 120px;
	}
	.offer.offer1 .products .product .brewerImgContainer img{
		max-height: 115px;
	}
	.offer.offer1 .products .product .brewerImgContainer .activeBrewer{
		left: 20px;
	}
	.offer.offer2 .products .product .brewerImgContainer .activeBrewer {
	    left: 8px;
	}
}


