#promo-end-container{
	background: url(../images/bg-promo-end.jpg) top center;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	#promo-end-content{
		width: 100%;
		max-width: 710px;
		padding: 60px 30px;
		margin: 100px auto;
		background: rgba(255, 255, 255, 0.8);
		text-align: center;
		box-sizing: border-box;
		h1{
			font-family: 'ReaderBold';
			font-size: 40px;
			margin-bottom: 20px;
		}
		p{
			font-size: 22px;
			padding: 0px 30px;
			a{
				color: #ffb200;
				text-decoration: underline;
				font-family: 'ReaderBold';
			}
		}
		.btn{
			display: inline-block;
			background: #ffb200;
			padding: 16px 65px;
			margin-top: 33px;
			font-family: "ReaderBold";
			font-size: 20px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			&:hover{
				background: #000;
				transition: background 300ms ease 0s;
			}
		}
	}
}
