#layer-1
{
    width: 20%;

    img
    {
        width: 100%;
    }
}

#layer-2
{
    h1
    {
        margin-bottom: 20pt;
        font-size: 20pt;
        text-align: center;
        text-decoration: underline;
    }

    table
    {
        width: 350pt;
        margin: 0 auto;
        border-collapse: collapse;
        //border: 1px solid #CCC;

        tr
        {
            margin-bottom: 10pt;
        }

        td
        {
            padding: 2pt;
            border: 1pt solid #CCC;
        }

        td.l
        {
            width: 35%;
        }

        td.v
        {
            width: 65%;
            text-align: left;
        }
    }
}

#layer-3
{
    width: 270pt;
    margin: 10pt auto 0 auto;
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 30px;
    font-size: 10pt;

    img { display: none }

    &.on  { background-image: url(../images/pdf/check-on.png) }
    &.off { background-image: url(../images/pdf/check-off.png) }
}

#layer-4
{
    margin-top: 15pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    border: 1pt solid #555;
    font-size: 10pt;

    .content
    {
        width: 95%;
        margin: 0 auto;
    }

    h3
    {
        margin: 0 0 5pt 0;
        padding: 0;
        font-size: 10pt;
    }

    ul
    {
        margin: 0;
        padding: 0;
        list-style: inside;
    }
}

