.thanks{
	background: transparent url("../images/bg-thanks.jpg") no-repeat scroll center top / cover ;
    padding: 100px 0;
	.inside{
		background: #fbfbfb;
		padding: 51px 45px;
		max-width: 750px;
		box-sizing: border-box;
		margin: 0 auto;
		h1{
			font-family: "Reader", Helvetica, sans-serif;
			font-size: 50px;
			line-height: 50px;
			margin-top: 0;
			padding: 0 0 10px 0;
			position: relative;
			text-align: center;
			padding-bottom: 35px;
			font-weight: normal;
			&:before{
				background: #c4c4c4 none repeat scroll 0 0;
			    bottom: 12px;
			    content: "";
			    height: 2px;
			    left: 50%;
			    margin-left: -19px;
			    position: absolute;
			    width: 38px;
			}
		}
		span{
			font-family: "Reader", Helvetica, sans-serif;
			font-size: 15px;
			display: block;
			margin: 12px 0 21px;
		}
		span.bold{
			font-family: "ReaderBold", Helvetica, sans-serif;
			margin: 0 0 3px 0;
			sup{
				font-family: "ReaderBold", Helvetica, sans-serif;
				font-size: 9px;
			}
		}
		img{
			margin-bottom: 6px;
		}
	}
}