// ------------------------------------------------------------
//   FadeInBig
//-------------------------------------------------------------
@-webkit-keyframes fadeInBig {
  from {
    opacity: 0;
    transform: scale3d(2, 2, 2);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInBig {
  from {
    opacity: 0;
    transform: scale3d(2, 2, 2);
  }

  to {
    opacity: 1;
  }
}

.fadeInBig {
  animation-name: fadeInBig;
}


// ------------------------------------------------------------
//   FadeInZoom
//-------------------------------------------------------------
@-webkit-keyframes fadeInZoom {
  from {
    opacity: 0;
  }

  50% {
     transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
     opacity: 1;
     transform: scale3d(1, 1, 1);
  }
}


@keyframes fadeInZoom {
   from {
    opacity: 0;
  }

  50% {
     transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
     opacity: 1;
     transform: scale3d(1, 1, 1);
  }
}

.fadeInZoom {
  animation-name: fadeInZoom;
}


// ------------------------------------------------------------
//   FadeInArticle
//-------------------------------------------------------------
@-webkit-keyframes fadeInArticle {
  from {
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
     opacity: 1;
     transform: scale3d(1, 1, 1);
  }
}


@keyframes fadeInArticle {
   from {
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
     opacity: 1;
     transform: scale3d(1, 1, 1);
  }
}

.fadeInArticle {
  animation-name: fadeInArticle;
}


// ------------------------------------------------------------
//   FadeInOut
//-------------------------------------------------------------
@-webkit-keyframes fadeInOut {
  from {
    opacity: 0;
  }

  50% {
     opacity: 1;
  }

  to {
      opacity: 0;
  }
}


@keyframes fadeInOut {
   from {
    opacity: 0;
  }

  50% {
     opacity: 1;
  }

  to {
      opacity: 0;
  }
}

.fadeInOut {
  animation-name: fadeInOut;
}


// ------------------------------------------------------------
//   Home Title Show
//-------------------------------------------------------------
@-webkit-keyframes homeTitleShow {
  from {
    opacity: 0;
    fill: transparent;
  }

  50% {
     transform: scale3d(2, 2, 2);
  }

  to {
     opacity: 1;
     fill: white;
     transform: scale3d(1, 1, 1);
  }
}


@keyframes homeTitleShow {
   from {
    opacity: 0;
    fill: transparent;
  }

  50% {
     transform: scale3d(2, 2, 2);
  }

  to {
     opacity: 1;
     fill: white;
     transform: scale3d(1, 1, 1);
  }
}

.homeTitleShow {
  animation-name: homeTitleShow;
}


// ------------------------------------------------------------
//   Home dot show
//-------------------------------------------------------------
@-webkit-keyframes homeDotShow {
  from {
    transform: translate3d(-50%, -30px, 0);
    opacity: 0;
  }

  50% {
     transform: scale(2);
  }

  to {
     transform: translate3d(-50%, 0, 0);
     opacity: 1;
  }
}


@keyframes homeDotShow {
   from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }

  50% {
     transform: scale(2);
  }

  to {
     transform: translate3d(-50%, 0, 0);
     opacity: 1;
  }
}

.homeDotShow {
  animation-name: homeDotShow;
}


// ------------------------------------------------------------
//   Bounce In Title
//-------------------------------------------------------------
@-webkit-keyframes bounceInTitle {
  from, 50%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
    fill: transparent;
  }

  50% {
    opacity: 1;
    fill: white;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceInTitle {
  from, 50%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
    fill: transparent;
  }

  50% {
    opacity: 1;
    fill: white;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceInTitle {
  animation-name: bounceInTitle;
}


// ------------------------------------------------------------
//   Loading
//-------------------------------------------------------------
@-webkit-keyframes loading {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes loading {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.loading {
  -webkit-animation-name: loading;
  animation-name: loading;
}


// ------------------------------------------------------------
//   Hover title home
//-------------------------------------------------------------
@-webkit-keyframes hoverTitleHome {
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}


@keyframes hoverTitleHome {
   from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

.hoverTitleHome {
  animation-name: hoverOutTitleHome;
}

@-webkit-keyframes hoverOutTitleHome {
  from {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes hoverOutTitleHome {
  from {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.hoverOutTitleHome {
  animation-name: hoverOutTitleHome;
}


// ------------------------------------------------------------
//   Home dot wave
//-------------------------------------------------------------
@-webkit-keyframes homeDotwave{
  from {
    box-shadow:(rgba(#fff, 0) 0 0 0 0);
  }

  50% {
    box-shadow:(rgba(#fff, 1) 0 0 14px 10px);
  }

  to {
    box-shadow:(rgba(#fff, 0) 0 0 0 0);
  }
}


@keyframes homeDotwave {
   from {
    box-shadow:(rgba(#fff, 0) 0 0 0 0);
  }

  50% {
    box-shadow:(rgba(#fff, 1) 0 0 14px 10px);
  }

  to {
    box-shadow:(rgba(#fff, 0) 0 0 0 0);
  }
}

.homeDotShow {
  animation-name: homeDotwave;
}

// ------------------------------------------------------------
//   Home dot wave
//-------------------------------------------------------------
@-webkit-keyframes homeTitlewave {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes homeTitlewave {
   from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.homeDotShow {
  animation-name: homeTitlewave;
}