// --------------------------------------------------------------
   // Background size
// ---------------------------------------------------------------
@mixin background-size($widthHeightValue) { 
	-webkit-background-size: $widthHeightValue;  
	-moz-background-size: $widthHeightValue;  
	background-size: $widthHeightValue;
}


// --------------------------------------------------------------
   // Font size Fallback
// ---------------------------------------------------------------
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
	$value: strip-unit(nth($values, $i));
	$pxValues: #{$pxValues + $value*10}px;

	@if $i < $max {
	  $pxValues: #{$pxValues + " "};
	}
  } 

  @for $i from 1 through $max {
	$value: strip-unit(nth($values, $i));
	$remValues: #{$remValues + $value}rem;

	@if $i < $max {
	  $remValues: #{$remValues + " "};
	}
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}


// --------------------------------------------------------------
   // Breakpoint
// ---------------------------------------------------------------
@mixin breakpoint($point) {
	@if $point == mobile {
		@media (max-width: $breakpoint-tablet) { @content ; }
	}
	@else if $point == mobile-landscape {
		@media (max-width: $breakpoint-tablet) and (orientation: landscape) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: $breakpoint-tablet) { @content ; }
	}
	@else if $point == tablet-portrait {
		@media (min-width: $breakpoint-tablet) and (orientation: portrait) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: $breakpoint-laptop) { @content ; }
	}
	@else if $point == desktop {
		@media (min-width: $breakpoint-desktop)  { @content ; }
	}
	@else if $point == large-screen {
		@media (min-width: $breakpoint-large-screen)  { @content ; }
	}
	@else if $point == ultra-large-screen {
		@media (min-width: $breakpoint-ultra-large-screen)  { @content ; }
	}
}


// --------------------------------------------------------------
   // Animation
// ---------------------------------------------------------------
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}


// --------------------------------------------------------------
   // Clearfix
// ---------------------------------------------------------------
@mixin clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}


// --------------------------------------------------------------
   // Hidetext
// ---------------------------------------------------------------
@mixin hidetext {
	overflow:hidden;
	font-size:0;
	text-indent:-999px;
	line-height:0;
}


// --------------------------------------------------------------
   // Border radius shorthand
// ---------------------------------------------------------------
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
}


// --------------------------------------------------------------
   // Opacity
// ---------------------------------------------------------------
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}


// --------------------------------------------------------------
   // Animation delay
// ---------------------------------------------------------------
@mixin animation-delay($delay) {
	-webkit-animation-delay: $delay;
	animation-delay: $delay;
}

// --------------------------------------------------------------
   // Animation type
// ---------------------------------------------------------------
@mixin animation-name($type) {
	-webkit-animation-name: $type;
	animation-name: $type;
}

// --------------------------------------------------------------
   // Animation duration
// ---------------------------------------------------------------
@mixin animation-duration($duration) {
	-webkit-animation-duration: $duration;
	animation-duration: $duration;
}

// --------------------------------------------------------------
   // Animation fill mode
// ---------------------------------------------------------------
@mixin animation-fill-mode($fill) {
	-webkit-animation-fill-mode: $fill;
	animation-fill-mode: $fill;
}



// --------------------------------------------------------------
   // Box shadow
// ---------------------------------------------------------------
@mixin box-shadow( $shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false, $shadow6:false, $shadow7:false, $shadow8:false, $shadow9:false ) {
$params: $shadow1;
@if $shadow2 { $params: $shadow1, $shadow2; }
@if $shadow3 != false { $params: $shadow1, $shadow2, $shadow3; }
@if $shadow4 != false { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
@if $shadow5 != false { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }
@if $shadow6 != false { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6; }
@if $shadow7 != false { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7}
@if $shadow8 != false { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7, $shadow8 }
@if $shadow9 != false { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7, $shadow8, $shadow9 }
 
-webkit-box-shadow: $params;
   -moz-box-shadow: $params;
        box-shadow: $params;
}


// --------------------------------------------------------------
   // Text shadow
// ---------------------------------------------------------------
/// Text Shadow
/// @param {Size} $x [2px] - X
/// @param {Size} $y [2px] - Y
/// @param {Size} $blur [2px] - Blur
/// @param {Color} $color [rgba(0,0,0,.4)] - Color

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

// --------------------------------------------------------------
   // RGBA Background
// ---------------------------------------------------------------
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}
