// --------------------------------------------------------------
   // VARIABLES
//---------------------------------------------------------------

$breakpoint-tablet: 			767px;
$breakpoint-laptop: 			992px;
$breakpoint-desktop: 			1024px;
$breakpoint-large-screen: 		1200px;
$breakpoint-ultra-large-screen: 1700px;


// Fixed Colors
$color_white:             		#fff;
$color_black:             		#000;

$color_primary:					#b21617;

// Fonts family
$font_default:         			'Reader', arial, sans-serif;
$font_default_medium:         	'readermedium', arial, sans-serif;
$font_default_medium_italic:   	'readermedium_italic', arial, sans-serif;
$font_default_bold:         	'ReaderBold', arial, sans-serif;
$font_secondary:        		'Helvetica Bold', arial, sans-serif;


// Width
$max_width:						650px;


// path
$assetPath : "../../";
$imgPath : "../../images/planner";


// structure
$px: 							1;
$PX: 							2;
