
// ------------------------------------------------------------
//   GENERIC CONTAINERS
//-------------------------------------------------------------

.main-wrapper {
	position:relative;
	z-index:1;
	min-width:100%;
	min-height:100%;

	@include breakpoint(mobile) {
		padding:15px;
	}

	@include breakpoint(mobile) {
		background:url('#{$imgPath}/home/bg-home-mobile.jpg') no-repeat top center;
		background-size:cover;
	}
}

.page {
	//display:none;
	overflow-y:scroll;
	overflow-x:hidden;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:0 15px;
	z-index:0;
	width:100%;
	height:100%;
	color:$color_white;
	visibility:hidden;
	@include opacity(0);
	@include transition(all 0.4s ease);
	background:transparent;

	background:url('#{$imgPath}/bg-placeholder.png') repeat top left;

	&.active {
		//display:block;
		visibility:visible;
		@include opacity(1);
		z-index:999;
	}

	.wrapper-content {
		//position:relative;
		//overflow:hidden;
		//height:100%;
		margin:0 auto;
		margin:0 auto 0;
		text-align:center;

		@include breakpoint(tablet) {
			max-width:1200px;
		}
	}
}