
// ------------------------------------------------------------
//   Fonts
//-------------------------------------------------------------
@font-face{
	font-family:"Reader";
	src:url("#{$assetPath}/fonts/reader-regular.eot");
	src:url("#{$assetPath}/fonts/reader-regular.eot?#iefix") format("embedded-opentype"),
	url("#{$assetPath}#{$assetPath}/fonts/reader-regular.woff") format("woff"),
	url("#{$assetPath}/fonts/reader-regular.ttf") format("truetype"),
	url("#{$assetPath}/fonts/reader-regular.svg#Reader") format("svg");
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:"ReaderBold";
	src:url("#{$assetPath}/fonts/reader-bold.eot");
	src:url("#{$assetPath}/fonts/reader-bold.eot?#iefix") format("embedded-opentype"),
	url("#{$assetPath}/fonts/reader-bold.woff") format("woff"),
	url("#{$assetPath}/fonts/reader-bold.ttf") format("truetype"),
	url("#{$assetPath}/fonts/reader-bold.svg#Reader") format("svg");
	font-weight:bold;
	font-style:normal
}


@font-face {
    font-family: 'readermedium';
    src: url('#{$assetPath}/fonts/reader-medium-webfont.eot');
    src: url('#{$assetPath}/fonts/reader-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$assetPath}/fonts/reader-medium-webfont.woff2') format('woff2'),
         url('#{$assetPath}/fonts/reader-medium-webfont.woff') format('woff'),
         url('#{$assetPath}/fonts/reader-medium-webfont.ttf') format('truetype'),
         url('#{$assetPath}/fonts/reader-medium-webfont.svg#readermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'readermedium_italic';
    src: url('#{$assetPath}/fonts/reader-medium-italic-webfont.eot');
    src: url('#{$assetPath}/fonts/reader-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$assetPath}/fonts/reader-medium-italic-webfont.woff2') format('woff2'),
         url('#{$assetPath}/fonts/reader-medium-italic-webfont.woff') format('woff'),
         url('#{$assetPath}/fonts/reader-medium-italic-webfont.ttf') format('truetype'),
         url('#{$assetPath}/fonts/reader-medium-italic-webfont.svg#readermedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

// ------------------------------------------------------------
//   GENERIC STUFF
//-------------------------------------------------------------
html {
	// On défini que 10px = 1rem
	margin:0;
	padding:0;
	font-size: 62.5%;
}

body {
	//overflow:hidden;
	// Par défaut, le font size sera de 1.2rem avec un fallback de 12px
	@include rem-fallback(font-size, 1.2);
	line-height:1.2em;
	background:$color_black;
	font-family:$font_default;
}

html, body {
	width:100%;
	height:100%;
}


// ------------------------------------------------------------
//   TYPOGRAPHY
//-------------------------------------------------------------
h1,h2,h3,h4,h5 {
	margin:0;
	font-weight:400;
	line-height:1.2em;
}

a {
	text-decoration:none;

	&:focus,
	&:hover,
	&:active {
		text-decoration:none;
	}
}

sup {
	top:-0.3em;
	font-size:65%;
}

.keurig-title {
	@include hidetext;
	width:92px;
	height:15px;
	margin:25px auto 15px !important;

	background:url('#{$imgPath}/titles/svg/keurig-logo.svg') no-repeat top center;
	background-size:100% auto;

	@include breakpoint(tablet) {
		width:167px;
		height:33px;
		margin:30px auto 20px !important;
	}
}


// ------------------------------------------------------------
//   FORMS
//-------------------------------------------------------------
.fieldset {
	margin:0;
	padding:0;
	border:0;
}

form {

}


// ------------------------------------------------------------
//   Buttons
//-------------------------------------------------------------
.btn {
	display:inline-block;
	vertical-align: top;
	min-width:135px;
	padding:12px 20px;
	color:$color_white;
	text-transform:uppercase;
	font-family:$font_default_bold;
	letter-spacing:1px;
	@include rem-fallback(font-size, 1.2);
	line-height:1em;
	background:$color_primary;

	&:focus,
	&:hover,
	&:active {
		background:darken($color_primary, 5);
	}
}

// ------------------------------------------------------------
//   SVG
//-------------------------------------------------------------
svg {
	overflow:visible;

	.st0{fill:#F1F2F2;}
	.st1{fill:#FFFFFF;}

	&:not(:root) {
		overflow:visible;
	}
}


// ------------------------------------------------------------
//   Codekit Fix
//-------------------------------------------------------------
#lpckWarningOverlay,
#lpckConMessageOverlay {
	display:none !important;
}
