/* -------------------------------------------------------------- 
//	Index


-- Variables and imports
---- Breakpoints
---- Variables
---- Mixins

-- Normalize
-- Animation
-- Default styles
-- Containers

-- Modules
---- Shares

-- Pages
---- Home
---- Holiday Tips
---- Party Planner
---- Gift Guide
---- Flavours of the seasons



--------------------------------------------------------------  */

// ------------------------------------------------------------
//   Variables and imports
//-------------------------------------------------------------
@import "settings/variables";

//@import "settings/breakpoint";

@import "settings/mixins";


// -------------------------------------------------------------- 
//	Animation
// ---------------------------------------------------------------
@import "settings/anim";
@import "settings/anim-custom";


// -------------------------------------------------------------- 
//	Normalize
// ---------------------------------------------------------------
@import 'base/normalize';


// -------------------------------------------------------------- 
//	Default styles
// ---------------------------------------------------------------
@import 'base/style';


// ------------------------------------------------------------
//   Main content
//-------------------------------------------------------------
@import 'base/containers';


// -------------------------------------------------------------- 
//	Module - Lightbox
// ---------------------------------------------------------------
@import 'modules/lightbox';


// ------------------------------------------------------------
//   Modules - Share
//-------------------------------------------------------------
@import 'modules/share';


// ------------------------------------------------------------
//   Page - Home
//-------------------------------------------------------------
@import 'pages/home';

.page {
	// ------------------------------------------------------------
	//   Page - Holiday Tips
	//-------------------------------------------------------------
	@import 'pages/holiday-tips';


	// ------------------------------------------------------------
	//   Page - Party Planner
	//-------------------------------------------------------------
	@import 'pages/party-planner';


	// ------------------------------------------------------------
	//   Page - Gift Guide
	//-------------------------------------------------------------
	@import 'pages/gift-guide';


	// ------------------------------------------------------------
	//   Page - Flavours of the seasons
	//-------------------------------------------------------------
	@import 'pages/flavours-season';
}

